[2014-09-15 03:25] hjoliver opened #1157 "cylc cyclepoint --template: need tests"
See #1156.

[2014-09-16 21:43] hjoliver opened #1158 "Use of cycle point format"
In cylc-6, setting the cycle point format affects everything: task ID, task labels in the GUI, log directory naming, the format of ```$CYLC_TASK_CYCLE_POINT``` in the task execution environment, etc.

Firstly, @benfitzpatrick - can you confirm that it's not possible for users to specify a cycle point format that violates the ISO 8601 standard (aside from the cylc legacy format that we still suppor

[2014-09-16 23:11] hjoliver opened #1159 "File housekeeping utility."
Cylc really needs a built-in file housekeeping utility, for archiving (by copy or move) and deletion of date-time labeled files and directories older than some offset from current cycle point

The old `cylc housekeeping` command was removed at cylc-6 because it wasn't ISO 8601 compatible, and it had a serious deficiency that I had never got around to addressing: it was unable to match individual f

[2014-09-17 01:34] hjoliver opened #1160 "Remove the checkvars utility."
The `cylc checkvars` utility checks that each of a list of environment variables is defined and optionally, for values that represent files or directories, that the files or directories actually exist.   This dates back to the very early days of cylc, when (somewhat embarrassingly!) I wasn't aware of using `set -e` and `set -u` in task scripting, which really makes this sort of input checking redu

[2014-09-18 08:25] #1160 closed, assigned to hjoliver

[2014-09-24 08:47] hjoliver opened #1164 "gsummary: more information"
Request from BoM:

[2014-09-29 01:23] #1154 closed, assigned to arjclark

[2014-09-29 04:25] hjoliver opened #1169 "Standardise cycle points coming in from the CLI."
This is not being done for `cylc kill` etc., so that the command fails (or rather has no effect) unless the exact cycle point format is used.

[2014-10-02 01:43] #1169 closed, assigned to benfitzpatrick

[2014-10-08 20:19] #484 closed, assigned to trwhitcomb

[2014-10-08 20:23] #930 closed, assigned to hjoliver

[2014-10-08 20:29] hjoliver opened #1176 "SGE job polling problem"
From: joan.giralt@ic3.cat joan.giralt@ic3.cat

[2014-10-09 11:00] matthewrmshin opened #1177 "cylc poll all submitted and running jobs"
Currently `cylc poll` only works on jobs of tasks matching some name patterns on a given cycle. An ability to poll all submitted and running jobs in the suite would be useful, e.g. when a batch system for running most jobs of the suite has been restarted.

[2014-10-13 03:13] hjoliver opened #1182 ""cylc submit" should be able to submit a family"
Currently it only does single tasks.  Easy change.

[2014-10-13 08:47] #1176 closed, assigned to nobody

[2014-10-13 09:02] #511 closed, assigned to matthewrmshin

[2014-10-13 09:02] #907 closed, assigned to matthewrmshin

[2014-10-13 09:02] #1077 closed, assigned to matthewrmshin

[2014-10-16 15:18] benfitzpatrick opened #1186 "cylc CLI: prompt for commands with a regex for task?"
A user asks:
[code]

This could be:
 * a default behaviour whether the expression exactly matches a single task or not
 * a default behaviour only when the expression is not a task name (a regular expression)
 * a behaviour triggered by an extra option (e.g. `--prompt`)

This is related to our communication refactor and e.g. #423.

[2014-10-17 21:14] hjoliver opened #1188 "external event triggers"
We could allow tasks to trigger off external events completely generically - without having to support OS-specific things like inotify - by having task prerequisites that are not associated with another task, so they'd have to be satisfied by a cylc CLI call (or potentially, cylc internal API). This could be used to initiate some action in the suite without requiring a suite task that repeatedly p

[2014-10-22 04:40] #1155 closed, assigned to benfitzpatrick

[2014-10-23 20:37] #975 closed, assigned to arjclark

[2014-10-24 03:03] hjoliver opened #1195 "Show batch sys name in gcylc text view"
For the job ID to be meaningful, the batch system name should be shown between the "host" and "job ID" columns.

[2014-10-24 10:18] arjclark opened #1196 "Internal queues: member prioritisation"
We have now been asked by several areas about the possibility of being able to prioritise within queues. It is not always possible to capture these kind of requirements within cylc dependencies.

An example might be wanting to run longstep ensemble members before shortstep ones.

It may be possible to simply modify cylc to achieve an ordering preference in queues but we need to consider the conseq

[2014-10-28 12:04] matthewrmshin opened #1200 "startup:finish not converted correctly"
Consider this suite:

[code]

On validate, it gives:

[code]

There are 2 problems:
- The exception comes from the original expression when the system attempts to create a conditional trigger with no left nodes. (All left nodes are pruned away.)
- The new R1 graph is incorrect, it loses the (logical OR `|`) between `my_start_up:succeed` and `my_start_up:fail`.

[2014-10-29 03:42] #1147 closed, assigned to matthewrmshin

[2014-10-29 09:44] kaday opened #1202 "Mixed cylc5/6 syntax not reported correctly"
A suite written in cylc5 running using cylc6 but with cylc6 syntax mixed in reports an incorrect error:

[FAIL] 'Illegal list value: [runtime][venuk_start][retry delays]retry delays = PT30M'

Should report
- 1 \* There is mixed syntax
- 2  \* "[retry delays]" should not be included in this format

[2014-10-29 11:36] dpmatthews opened #1203 "Jinja2 error not reported correctly by cylc validate"
If I have a `suite.rc` file containing

[code]

and `include.rc` containing

[code]

then I get the following output from `cylc validate`:

[code]

i.e. there is nothing to indicate this is a jinja2 error.

If `include.rc` contains, for example

[code]

then I get the following output from `cylc validate`:

[code]

which at least indicates a Jinja2 error.

[2014-10-30 09:58] #1195 closed, assigned to hjoliver

[2014-10-30 15:50] #1200 closed, assigned to benfitzpatrick

[2014-10-31 09:44] #395 closed, assigned to hjoliver

[2014-10-31 09:44] #1203 closed, assigned to hjoliver

[2014-11-04 21:09] hjoliver opened #1211 "clock-triggers should be displayed with finer resolution"
Clock triggers are often at finer resolution than the cycle point format.  E.g. a 6-hourly cycling task might have a clock delay of PT3H15M.  At the moment `cylc show` and gcylc "View -> prerequisites and outputs" truncate this to the cycle point format.

@benfitzpatrick - for this purpose, can we extend the cycle point format down to the last non-zero component of the date-time?  Actually, just p

[2014-11-05 14:29] arjclark opened #1213 "cylc db: secondary db failure robustness and recovery"
Reminder issue.

Having a secondary database for access by external suite utilities should lead to a reduction of load on the primary database and reduce opportunities for writer starvation. However, if a failure to write to the secondary database occurs, it will still result in the suite stopping.

We should make it so the secondary, publicly viewable, database can fail to be written to without i

[2014-11-05 22:39] hjoliver opened #1214 "db lock and/or integrity problems"
This is technically a duplicate, but the related issues are various and have been closed, e.g.: #889 #959 #952 #388 #920 #935

It may be solved by already by cylc-6 (after #1213 is addressed anyway).

Anyhow, for the record, after months without problems in one of our operational suites still running 5.4.14 we just suffered two of these DB errors in two days.  There was no operator intervention in

[2014-11-05 22:55] #1141 closed, assigned to nobody

[2014-11-06 21:59] hjoliver opened #1217 "Dump loaded suite definitions to suite log directory"
From @matthewrmshin:

I would quite like to dump out the loaded `suite.rc` on suite run, restart and reload so we have a full record of the run time configuration. E.g. on suite run, we can create a `log/suiterc/` directory, then we store the (re-)loaded `suite.rc` files in file names like this:

[code]

[2014-11-10 15:36] #1202 closed, assigned to kaday

[2014-11-12 22:07] hjoliver opened #1222 "Memory use in large suites"
To run very large suites (say >10k tasks) we'll need to minimize use of memory by task proxies,  understand how cylc interacts with Python's memory management system, and possibly invoke garbage collection deliberately at certain points such as before and/or after a suite reload (which currently replaces all task proxy objects).

[2014-11-13 16:13] benfitzpatrick opened #1224 "Fix graphing for standalone initial task line"
A suite.rc like this:

[code]

will break the graphing due to a `None -> None` edge creation.

[2014-11-14 08:46] arjclark opened #1225 "cylc gui: clear tstart and tfinish on new submit"
It is confusing for users that when a task is re-run it's previous tstart and tfinish entries are still in the gui while the resubmission is in the submitted state.

We should blank these out.

[2014-11-14 12:55] arjclark opened #1226 "reload: incorrectly resetting states in held suites"
If a suite has run for a bit and is held then reloaded the reload resets the states of ALL tasks in the suite to held on reloading - losing states such as failed/succeeded.

Steps reported by user to reproduce this bug:
1. The suite was started in held state
2. Some parts of it were released and ran successfully. There were also some failed tasks.
3. A correction was made, and the suite was reload

[2014-11-17 14:33] arjclark opened #1228 "cylc section environment variables: spaces break hooks"
If you have a suite like this:

[code]

The spaces in the contents of FOO (under [cylc][environment]) break the event hooks with:

[code]

This, however is fine:

[code]

suggesting we handle the two environment sections differently.

We should fix this.

[2014-11-18 10:12] benfitzpatrick opened #1229 "cylc gui: sort current-date/previous-date date-times correctly"
When a task has a `Tstart` (or other date-time string) at the current date, the date
portion of the string is chopped off to make the information more readable. This means
that for a multi-day task pool, you may have date-time strings in a column like this:
[code]
(where we're using 2014-11-18 as the current date-time).

When the date-time column is sorted, it will produce:
[code]
or
[code]
- the

[2014-11-18 22:51] #1228 closed, assigned to hjoliver

[2014-11-20 09:26] #1225 closed, assigned to arjclark

[2014-11-21 12:20] #1226 closed, assigned to arjclark

[2014-11-23 04:34] #1224 closed, assigned to benfitzpatrick

[2014-11-26 00:40] #896 closed, assigned to matthewrmshin

[2014-11-26 00:42] #747 closed, assigned to hjoliver

[2014-11-26 00:45] #919 closed, assigned to hjoliver

[2014-11-26 01:20] hjoliver opened #1238 "Operate (e.g. trigger) on just failed family members"
It would be useful to have this as an option.  Currently you have to retrigger (or reset etc.) all members of a family regardless of their current state, or otherwise do each member manually.

[2014-11-26 03:34] hjoliver opened #1239 "Disallow manual insertion at non-graphed cycle points"
Currently (and somewhat surprisingly) tasks can be manually inserted at invalid cycle points (i.e. where they don't appear in the suite graph) but they end up with no prerequisites.  E.g. initial R1 tasks inserted at a cycle point beyond the initial one; or cycling tasks inserted off-sequence.

I'm pretty sure this was not intended; we should disallow it.

[2014-11-26 11:43] hjoliver opened #1240 "gcylc graph view problems after restarting a suite"
Two problems I've seen for a while, with the graph view:
 * if a suite is stopped and restarted (or re-cold-started) from the same GUI instance, the graph can be missing some nodes, which are noted via gcylc stderr to be "outside of the main graph". This recovers after a bit.   Could be caused by the graph structure in gcylc not being cleared and redrawn when the suite starts up again?
 * sometime

[2014-11-26 22:58] #1211 closed, assigned to benfitzpatrick

[2014-11-28 10:26] benfitzpatrick opened #1243 "cylc gui: provide warning if daemon version doesn't match gui version"
It would be useful to users if they could be warned in `cylc gui` when the daemon version
doesn't match the `cylc gui` version. This helps prevent accidents like stopping and then
restarting via the gui using a different version.

[2014-11-28 15:37] kaday opened #1244 "cylc gscan: add failed information"
From  issue1164 part two:
" Request from BOM:

 * in cases where the suite has failed task, the name of the failed task (for multiple failed tasks, I suppose it could be either the first failed task or number of the failed tasks)"

[2014-12-02 21:20] #1164 closed, assigned to kaday

[2014-12-03 03:07] hjoliver opened #1249 "Rationalize the CLI command set."
The cylc CLI command set has gradually grown over a long period, so it could do with a rethink.  Some commands could be removed, renamed, or combined with others.  For instance, should all commands that retrieve information from a suite daemon be combined into one, or should they at least have a common prefix that is not shared by commands that retrieve information from parsing suite definitions?

[2014-12-03 03:10] hjoliver opened #1250 "Rationalize the API for interacting with a suite daemon."
Currently the API for interacting with the scheduler (control and information) is pretty much ad hoc.  We should rationalize it, and support it with new battery tests.

See also #1249 (as the CLI uses the API)

[2014-12-08 07:13] #884 closed, assigned to hjoliver

[2014-12-08 21:20] hjoliver opened #1255 "Detect circular inheritance."
Circular inheritance - simplest case is a namespace inheriting itself - results in:

[code]

Validation should detect this or, if that's difficult, catch the exception and warn of the probably cause.

[2014-12-09 10:52] arjclark opened #1256 "cylc graph: long startup times when no initial and final cycle points provided"
We've noticed that cylc graph appears to start up slower when no initial and final cycle points are provided.

Testing with an hourly cycling suite I've got knocking around with ISO cycling, no visulization settings and no final cycle point defined in the suite.rc file:

[code]
and with a CLI provided initial and final cycle point:
[code]
(in both cases allowing ~1sec for me to close the gui again

[2014-12-09 10:56] benfitzpatrick opened #1257 "cylc job-poll: don't rely on SLURM squeue exit code"
The job polling for SLURM relies on `squeue -j JOB_ID` providing an exit code of 1.
However, after a job finishes, there is a long period where the `squeue` command
returns an exit code of 0 but no text. This eventually changes to an exit code of 1.

We should tweak our `squeue` job polling to be based on the text output, not the
exit code. `squeue --noheader` will help here.

[2014-12-09 16:31] kaday opened #1259 "cylc validate: initial > final should not validate"
When a suite is run with the initial greater than the final point then the suite starts and instantly reports back  `stopped with 'held'`.
The suite should not validate and should report that the initial cycle point is greater then the final cycle point so there are no tasks to be run.

[2014-12-15 22:00] #1259 closed, assigned to kaday

[2014-12-16 14:58] benfitzpatrick opened #1265 "cylc reload: daemon should report added/removed tasks"
When a suite is reloaded, for each task in the task pool 'foo' it reports:
[code]
It would be good if it reported additional tasks or removal of tasks as well.

[2014-12-16 22:07] #1255 closed, assigned to hjoliver

[2014-12-17 11:45] benfitzpatrick opened #1266 "cylc global config: upgrade to ISO syntax, document, and fix back. comp."
Someone (OK, me) missed updating the site and user configuration parsing in
parsec - at the moment options like 'submission polling intervals' are:
 * actually used as seconds, not minutes as they used to be (hence old values will give different results now!)
 * not compatible with new ISO 8601 syntax

The relevant file is `lib/cylc/cfgspec/globalcfg.py`. It needs work to bring it into line with
`

[2014-12-17 12:50] #1031 closed, assigned to nobody

[2014-12-17 13:00] #165 closed, assigned to matthewrmshin

[2014-12-17 13:49] #685 closed, assigned to hjoliver

[2014-12-18 18:49] #355 closed, assigned to matthewrmshin

[2014-12-29 10:19] #1217 closed, assigned to hjoliver

[2014-12-29 11:03] #1013 closed, assigned to hjoliver

[2015-01-06 22:10] hjoliver opened #1279 "constraining the initial cycle point?"
Cycling suites typically require the initial cycle point to be constrained in some way, but recurrence expression start points can be an unwieldy way to do this.  E.g. for a 6-hourly cycling suite, the initial cycle point typically has to end in 00, 06, 12, or 18 hours.  The most efficient way to specify this would be just ```R//PT6H``` plus the aforementioned constraint (specified in some way yet

[2015-01-06 22:16] hjoliver commented on #1279
Actually, a better way to do this might be an extended recurrence expression that specifies alternate start points, something like this:

[code]
which would represent a single sequence starting at the first T00, T06, T12, or T18 at or after the initial cycle point.

@benfitzpatrick - thoughts?

[2015-01-07 11:03] arjclark opened #1280 "Discussion: Check for atd running before trying to submit to at"
We've recently experienced a problem with the at daemon not running but tasks still being submitted to the atq.

A possibility is to see if the at daemon is running when looking to submit and submit failing if not running.

[2015-01-07 11:27] matthewrmshin commented on #1280
@hjoliver We would like to propose that if something like `pgrep atd` does not return `0`, then a normal `at` job submission (one without a command template) should be marked as a `submit-failed`. Can you think of any potential issues?

[2015-01-07 20:21] hjoliver commented on #1280
Sounds good. We've had the same problem several times.

[2015-01-08 09:17] benfitzpatrick commented on #1279
Having a constraint option is a great idea! What about a list of possible regular expressions to search for:

[code]

We could probably include a final cycle point constraint just for completeness.

R/(T00,T06,T12,T18)/PT6H
[code]
R/min(T00,T06,T12,T18)/PT6H
[code]
[[[T00+PT6H/PT6H,T06+PT6H,T12+PT6H,T18+PT6H]]]
[code]

[2015-01-09 15:34] arjclark opened #1282 "cylc stop --quick: functionality lost"
It's been pointed out that we lost `--quick` functionality from cylc stop. We've tracked this back to #1117 where it snuck in.

From what I can tell, the difference between `--quick` (at cylc 5.4.14) and `--now` (cylc 6+) is that `--quick` meant event hooks still got ran but `--now` means they don't. Trying to test this is somewhat difficult as there seems to be an element of timing involved in wh

[2015-01-09 22:07] matthewrmshin commented on #1282
We also identified some (minor?) issues while testing this.
* On shut down now, scripts run by the event hooks will continue to run. This may be seen as untidy, but may have other implications on restart.
* On restart after a shut down now, the suite does not re-run event hooks that did not have a chance to run before the shut down.
* Results of event hooks are not very visible to users.
* There i

[2015-01-11 08:06] #958 closed

[2015-01-13 16:42] kaday opened #1283 "cylc run: -mode=simulation uses run"
The correct syntax is `--mode=simulation`, but when `-mode=simulation` is used by accident, it does not fail or do nothing, it runs as `run`.

[2015-01-13 16:45] kaday opened #1284 "cylc gui: simulation mode doesn't stop"
When running in simulation mode using the `stop` button in teh GUI does nothing. It has to be shutdown via command line using `shutdown --now`.

[2015-01-13 19:46] hjoliver opened #1285 "port files should contain host name"
On a facility with a shared filesystem (such as at NIWA), the port file (visible from all hosts) prevents a user from accidentally starting a suite that is already running on another host, but (a) it doesn't tell the user which host the suite is already running on, and (b) if a suite suffers a hard kill, the user may have to use "cylc scan" and/or "ps" on multiple hosts before manually deleting a

[2015-01-14 10:48] matthewrmshin commented on #1285
See also #1050.

[2015-01-14 12:52] arjclark commented on #1284
@kaday - I'm not able to reproduce this with a simple suite. Do you have an exemplar where it does break?

(Mine for reference)
[code]

ran as:
[code]
and pressed the stop button. Suite stopped once the running task finished.

[2015-01-15 09:44] kaday commented on #1284
An example suite is to follow.
More information:
 * If a task state is changed to failed then the `stop` button in the GUI then the suite does not stop once the running task has finished. This was done to check graphing functionality.

[2015-01-16 09:37] #1266 closed

[2015-01-16 09:39] arjclark commented on #802
#1277 covers timeouts. Default/site configured event hooks still to be covered.

[2015-01-16 13:28] kaday opened #1286 "suite stalled warning or notification"
A suite is using a runahead limit because the suite cycles have no dependancies on previous cycles, but need to be limited due to large data volumes.
It would be helpful that if the suite reaches its runahead limit because of an earlier task has failed that a warning message is recorded in the stderr (and mail is sent as an option) to aid the user to identify why the suite is `waiting`.

[2015-01-19 22:35] #1177 closed

[2015-01-19 23:50] hjoliver commented on #1286
@kaday - I'm not sure this is a good idea, although you can try to convince me!  Any suite will typically be runahead limited some or all of the time, unless it is being constrained by clock-triggers in real time caught-up operation, and that isn't a condition that warrants a warning - it's merely a mechanism to stop the suite getting unnecessarily spread out, or potentially to prevent too many cy

[2015-01-20 00:26] hjoliver commented on #1283
Hmm, you're right - it runs with mode equal to ```ode=simulation```!

[2015-01-20 01:51] hjoliver commented on #1284
In a simple test suite with a linear task graph, resetting a succeeded task to failed doesn't prevent the suite shutting down on the 'stop' command after the next task succeeds (tested in simulation mode)... so we need a reproducible test case.

[2015-01-20 02:23] hjoliver commented on #1282
@matthewrmshin - on the additional issues identified while testing:

IMO "shutdown now" is about shutting down the suite daemon immediately, regardless of any current suite activity.  We don't kill running tasks either on shutdown now.    Maybe we want an option (like ```shutdown --kill``` for tasks) to do this.

True, but it's not clear to me that it should do that.  Event handlers are typically

[2015-01-20 02:27] hjoliver commented on #1282
Terminology:  I think of an "event hook" as the bit of cylc internals to which the user can attach an "event handler" script, whereas you guys seem to call the handler script the "event hook".  Can we straighten this out to avoid the continual (if minor) translation effort?  My terminology makes more sense to me, but I'm not sure which is more standard!

[2015-01-20 02:41] hjoliver commented on #1282
Given that (as I've argued above) it's not obvious what to do about event handlers at shutdown:

* for event handlers that are already queued but yet to run at shutdown, we could just list these to suite stdout, with full command lines, at shutdown. Then the user can choose to run them manually (cut-n-paste to the terminal) or ignore them.

* for event handlers that are still running at shutdown,

[2015-01-20 07:06] hjoliver commented on #1282
I think that's right, although we had ```--now``` at cylc-5 too; we've just lost the ```--quick``` behaviour.  I have a feeling that we actually lost it on the change from threads to process pool (the change "snuck in" above was probably just cleaning up some left-over cruft) and that I had discussed this (probably with Matt) via email.  Clearly the benefits of multiprocessing outweigh this loss .

[2015-01-20 09:16] matthewrmshin commented on #1282
I think if we can have a way to re-trigger unfinished event handlers on restart and/or on demand, then the `--quick` functionality is probably redundant.

[2015-01-20 09:18] matthewrmshin commented on #1286
Is it possible to trigger a special event when the suite can no longer proceed any further?

[2015-01-20 10:13] arjclark commented on #1282
@hjoliver - that was my thought too. I also had it in mind that we'd had "fun" with shutdowns on the move to the process pool.

@dpmatthews and I were of a mind that there'd been various discussions round this but neither he nor I had any records of it or if this was the final intended state.

[2015-01-20 10:27] arjclark commented on #1286
@matthewrmshin - I guess that would need to be "can no longer proceed any further due to a *failed task*"? A suite can get to the point where it can't proceed any further due to a running task, which is regular day-to-day behaviour.

[2015-01-20 10:29] arjclark commented on #1286
e.g for a simple `graph = foo` suite, where everything's running fine, you aren't in error if you hit the runahead limit due to the earliest foo task still running.

[2015-01-20 11:29] kaday commented on #1284
@hjoliver
This is the suite which it breaks:
[code]
Manually fail task B, then press the stop button.
The suite keeps running in simulation mode. It does eventually stop, but not for a many cycles.

[2015-01-20 11:31] matthewrmshin commented on #1286
Yes. It is when the suite requires human input - it is stuck and is no longer anticipating any automatic future events.

[2015-01-20 20:26] hjoliver commented on #1286
That may be very hard to determine in general. E.g. a failure recovery task *could be* waiting on a clock-trigger before it cleans up the failed task and its downstream dependants. So "no longer anticipating any automatic future events" has to include clock-triggers ... but this hourly-cycling suite could have a couple of monthly-cycling tasks that are already waiting on a distant clock-trigger. W

[2015-01-20 21:11] hjoliver commented on #1286
After a bit of thinking, maybe this isn't so difficult (although in the failed task case, I still think it's unnecessary).

My clock-triggered failure-recovery example above is pretty far-fetched, and I guess anyone with an exotic external monitoring and intervention system could choose not to use the "suite stalled" hook.
(Nevertheless, we'd have to warn that it's *possible* for a suite stalled w

[2015-01-20 23:27] hjoliver commented on #1286
We should probably change the title of this issue to "suite stalled warning".

[2015-01-21 02:37] hjoliver commented on #1082
Closed by #1277

[2015-01-21 02:37] #1082 closed

[2015-01-21 07:55] dpmatthews commented on #1286
This feature would be very useful for rose stem suites where the users would like to be able to configure the suite to stop when it has stalled (at the moment they either have to let it time out or stop after the first failure).

[2015-01-21 08:54] arjclark commented on #1286
@dpmatthews - not sure how useful this is for rose stem suites. Since they don't cycle and only run for (relatively) short periods of time, email notification on a failure followed by a shutdown on suite timeout is more than sufficient. They also tend to be much more closely monitored than trial suites (such as the one that prompted Kerry to raise the issue) as their results are tied to code testi

[2015-01-21 08:56] dpmatthews commented on #1286
@arjclark - see https://code.metoffice.gov.uk/trac/um/ticket/194

[2015-01-21 09:14] arjclark commented on #1286
Fair enough, there does appear to be a desire for something along the lines of what Hilary's suggested.

[2015-01-21 11:53] #1229 closed

[2015-01-21 14:30] #940 closed

[2015-01-22 03:29] hjoliver opened #1292 "The hold-after-task run option is broken."
```cylc run --hold-after=CYCLE_POINT``` (also via an option in the gcylc run dialog) is parsed but not used in the suite daemon

[2015-01-22 03:34] hjoliver commented on #1282
The "gcylc inconsistency" part of this is fixed by #1291.

[2015-01-22 23:30] hjoliver commented on #1284
@kaday - thanks for the example. It seems we're not preventing (simulated) submission of simulation mode tasks prior to shutdown. The suite eventually shuts down in spite of this if there happens to be no active tasks at a point in time.  After hitting 'stop' real tasks that are ready to run still get queued to the process pool, i.e. the 'ready' state, but will not be submitted.  I'll simulate thi

[2015-01-23 00:07] hjoliver commented on #1285
(this is in progress)

[2015-01-23 08:34] #1283 closed

[2015-01-23 09:57] kaday commented on #1284
@hjoliver - works in my environment and passes the test battery.

[2015-01-23 09:57] #1284 closed

[2015-01-26 15:16] benfitzpatrick opened #1296 "cylc graph comparison utility"
We could do with something like `cylc graph-diff` to compare text representations
of suite graphs - this would give us a good way to tell if e.g. dependencies changed
during suite development.

[2015-01-28 08:45] arjclark commented on #1296
See also #1068

[2015-01-28 11:01] benfitzpatrick opened #1299 "cylc gui: sort dt column correctly"
The `dT` column in cylc gui should sort by value-in-seconds rather than
the `PT5M` alphanumeric display values.

[2015-01-30 01:07] hjoliver opened #1302 "gsummary for all registered suites (or a given subset thereof)"
The gsummary GUI currently displays running suites, or recently(?) stopped ones.

We could (perhaps optionally) have it display all of a users registered suites, including ones that have never been started or were stopped non-recently, or a given subset of them.  This would make it a good way to see which members of a group of suites that should be running are still running, and to restart them if

[2015-02-03 12:42] benfitzpatrick commented on #902
The latest xdot.py solves this - it's a compatibility problem with later versions of graphviz:

https://bugs.launchpad.net/ubuntu/+source/xdot/+bug/1317688

I'm intending to upgrade the version of xdot that cylc uses.

[2015-02-03 20:11] hjoliver commented on #902
That would be great. Apologies in advance if you find it a bit messy.  I
bodged it in ages ago, and never got back for a good clean up [?]

On 4 February 2015 at 01:42, Ben Fitzpatrick <notifications@github.com>
wrote:

[2015-02-04 10:03] matthewrmshin commented on #1302
See also #1050.

[2015-02-04 12:05] arjclark opened #1307 "pbs: support for job arrays"
cylc doesn't currently work correctly with pbs job arrays.

For a task like this:

[code]

You end up with output from only one job in the job.out file and the task reporting as done as finished as any job in the array finishes. Messaging is not ideal either:

[code]

We should look to support pbs job arrays in cylc. This will likely require letting cylc know that the task is of the job array type

[2015-02-04 12:06] arjclark commented on #1307
@matthewrmshin @hjoliver - thoughts?

[2015-02-04 14:08] matthewrmshin commented on #1307
The problem is that a job array is essentially jobs for *multiple cylc tasks* that can be submitted simultaneously and efficiently using a single command.

N.B. The problem is not specific to PBS, as other modern batch schedulers support job arrays as well.

[2015-02-04 21:34] hjoliver commented on #1307
If I understand how this works (I don't currently have access to pbs), the problem is that the full cylc job script automatically gets submitted multiple times by pbs.

A couple of ideas:

 * Handle the whole job array as a single cylc task.  This can already be done pretty easily: just make the cylc task be a simple wrapper that writes out a secondary job file, for the job arrary, and then submit

[2015-02-04 21:34] hjoliver commented on #474
@areinecke - if you're still listening in - #1307 is somewhat related.

[2015-02-05 03:14] hjoliver commented on #1213
#1295 solved the issue of missing db ops on restart after  shutdown due to a locked db.

Still to consider: can we allow the suite to continue running for longer if the public viewable db is locked.

[2015-02-05 03:56] #902 closed

[2015-02-05 04:44] hjoliver commented on #1214
@arjclark - would you agree we can close, thanks to #1295.

[2015-02-05 09:22] matthewrmshin commented on #1307
@hjoliver I am leaning towards your second idea.

N.B. Slurm has job arrays as well.

[2015-02-05 09:35] arjclark commented on #1214
Closing for now as I think between #1233 and #1295 we've done all we can for this. Locking and recovery from locking of the viewable db to be addressed by #1213.

[2015-02-05 09:35] #1214 closed

[2015-02-05 12:45] matthewrmshin opened #1308 "Hold task after killing its job to avoid immediate retry"
When a user issue a command to kill a job of a task (with (submission) retries configured), the task can end up retrying with the same undesirable configuration (which prompted the user to kill the job in the first place).

A more desirable logic is to hold the task while issuing the kill to prevent it from retrying.

Is there any use cases of kill where the current logic is the more desirable beh

[2015-02-05 13:18] benfitzpatrick opened #1310 "cylc gsummary: always use suite last updated time for 'Updated' column"
The `Updated` column in cylc gsummary should list the last updated time
for individual (running) suites, not the global gsummary updated time.

[2015-02-05 16:21] matthewrmshin commented on #181
Once #992 is done, the requirement for this will diminish at our site.

[2015-02-06 09:53] #1257 closed

[2015-02-06 22:57] hjoliver commented on #1308
I don't think so; the current logic fails to take manual job kill into account IMO.

[2015-02-06 23:08] #1308 closed

[2015-02-08 19:00] #1296 closed

[2015-02-09 08:03] hjoliver commented on #1188
NIWA's satellite data processing processing team plans to convert to cylc shortly.  External even trigger seems to be a better way of handling this sort of thing because we can have data retrieval tasks that trigger when needed, instead of continuously polling at run time, or continually retrying until new data arrives.  As a result, I thought through this issue today and banged up an initial impl

[2015-02-09 09:16] matthewrmshin commented on #1188
The use case you have just described is quite similar to something our users would like to do. I'll look forward to the pull request.

[2015-02-09 09:41] benfitzpatrick opened #1314 "Release, trigger, insert (etc.) a whole sub-graph"
Maybe we should have some logic in `cylc release` (and the GUI equivalent) to
release a section of the suite graph, starting with a given task and optionally
ending at a given cycle point (although the runahead limiting and other dependencies
will probably naturally limit it).

[2015-02-09 11:17] hjoliver commented on #1188
I've revised the initial proposal above. Here's the reasoning that led to my prototype implementation:

We need a repeating workflow to handle a succession of arbitrarily timed datasets in real time:

 * In the cylc tradition, we should be able to process multiple datasets in parallel (they could come in quickly, or the suite could be restarted after multiple sets have come in)
 * Use integer cycl

[2015-02-09 15:25] kaday commented on #1030
`cylc run --new` may need a `This deletes the logs. Are you sure?` or added/different functionality.
@dpmatthews I hope this covers what we discussed following user feedback and is in the correct place.

[2015-02-09 20:10] hjoliver commented on #1240
The second point above is fixed by #1315.

I'm reasonably confident that the first point was a symptom of the same problem, just with a range of cycle points present such that some but not all of them were excluded by the bug.

[2015-02-09 20:11] #1240 closed

[2015-02-10 12:27] benfitzpatrick opened #1318 "cylc directives: add scripting interface"
We should support something like:

[code]

or

[code]

[2015-02-10 12:53] matthewrmshin commented on #1318
The 2nd use case is related to #1105.

Is shell syntax the correct interface?

[2015-02-10 20:36] hjoliver opened #1319 "cylc doc command and document locations"
(minor) the doc command, or at least the document locations it gets from the global config file, could be simplified to assume (by default) the same parallel cylc version locations as cylc itself.

[2015-02-11 01:27] hjoliver opened #1321 "gcylc right-click menu specificity"
The gcylc right-click menu should be task state specific.  E.g. there's no point in attempting to poll or kill a task that is not currently active.

[2015-02-11 01:38] hjoliver commented on #249
Closing - the test battery is now being improved constantly, with every change to the code.

[2015-02-11 01:38] #249 closed

[2015-02-11 01:55] hjoliver commented on #1256
@arjclark - in the "unbounded" case we should be generating number of cycle points equal to ```[visualization]number of cycle points```, which defaults to merely 3.

In a quick test here I couldn't see this effect.  Can you confirm it is still happening at your end, and if so provide a suite definition that exhibits the problem?

[2015-02-11 02:02] hjoliver commented on #1222
As I recall, my experimentation above suggested that there is little benefit to be gained from  attempting to manipulate Python's memory management and garbage collection.  If a suite is using a large amount of memory we're likely to get a high-water effect resulting from memory fragmentation (i.e. the memory use may go up but it is unlikely to go down).

On that basis, I think we need to concentr

[2015-02-11 02:04] hjoliver commented on #1222
Assigned low priority label - no one will be running 20k-task suites any time soon (?)

[2015-02-11 02:05] hjoliver commented on #1113
(I forgot about this - I'll attempt to revisit it soon).

[2015-02-11 02:10] hjoliver commented on #1045
@benfitzpatrick - we do seem to have some tests in these files. Can this be closed?

[2015-02-11 02:19] hjoliver commented on #973
This has apparently been fixed (and/or - it is not possible to start a cycling cylc-6 suite without an initial cycle point).

[2015-02-11 02:19] #973 closed

[2015-02-11 02:21] hjoliver commented on #970
Is the consensus here that users will just have to convince their PBS admins to extent the system wide time interval between signals?

[2015-02-11 02:22] hjoliver commented on #969
@aosprey - did you get a chance to test this last year?

[2015-02-11 02:29] hjoliver commented on #931
@m214089 - apologies, this issue slipped my notice for a while. Did you come to any conclusions on the best way forward here?

[2015-02-11 02:31] hjoliver commented on #899
@m214089 - my argument above suggests it is not possible *in general* to automatically identify the interval you want here.  Let me know if you agree and I'll close this issue.

[2015-02-11 02:46] hjoliver commented on #872
Closing - this is now a year old; it resulted in one change #880; and I've had no further reports of problems.

[2015-02-11 02:46] #872 closed

[2015-02-11 02:52] hjoliver commented on #871
I can't recall what motivated me to post this issue(*), but if polling won't work then neither will job submission.  So I don't think this is valid.

(*) it may have been reported erratic polling on a machine at BoM, but that turned out to be due to use background jobs submission to a hostname alias that randomly assigns jobs to one of several physical hosts.  Job poll (and kill) cannot work if cy

[2015-02-11 02:52] #871 closed

[2015-02-11 05:31] hjoliver commented on #91
(option b in progress)

[2015-02-11 05:37] hjoliver commented on #223
In the absence of any objections to my last point, this is done.

[2015-02-11 05:37] #223 closed

[2015-02-11 05:39] hjoliver commented on #798
@matthewrmshin - can this be closed thanks to #808?

[2015-02-11 09:09] matthewrmshin commented on #970
Yes. There is nothing we can do.

[2015-02-11 09:15] matthewrmshin commented on #970
To clarify:

In practice, the best way is to convince their PBS admins to extent the system wide time interval between signals.

In theory, there is one thing we can do, which is to submit another PBS job for the purpose of sending the message for the 1st job.

[2015-02-11 09:30] matthewrmshin commented on #931
I guess this is related to #907? In which case, the problem should be solved by #1166:

E.g. If you have added a `$CYLC_DIR/conf/job-init-env.sh` file in your job host, the job will source the content of this file instead of `/etc/profile` and `~/.profile`. This should hopefully be enough to allow you to set up the environment for cylc and other essential commands.

(I may not have documented the

[2015-02-11 09:34] #798 closed

[2015-02-11 11:41] benfitzpatrick commented on #970
10 seconds is the default in PBS (12.2), according to the documentation. I think this is
unacceptably quick. 30 or 60 seconds is more sensible.

[2015-02-12 09:13] hjoliver commented on #774
Worth doing - some users do seem to find the lack of new task auto-insertion confusing.

[2015-02-12 09:33] hjoliver commented on #773
On current master:

*accepted* (this is ok?)

*accepted* (this doesn't make sense?)

*rejected* (the reload is aborted)

*accepted*  (suite goes into stopping mode - this is ok?)

[2015-02-12 11:32] arjclark commented on #773
Hi Hilary,

  given that suites now have cycling defined relative to initial and final cycle points I think all the above should be being rejected.

So:

Should be rejected as things are defined relative to the initial cycle point e.g. every 6 hours starting from the ICT - graphing could quickly be messed up as a result of going from something like `20100101T12` to `20100101T04`.

Should be outrig

[2015-02-12 14:01] aosprey commented on #969
As I recall I did use the method to run a simple test suite, and the system worked well, however this was just on a single machine. I don't have access to a machine here where I could run a web server - our sys admin was reluctant to allow this without understanding the security implications. Therfore we decided to pass this on to our colleagues at BADC who are more expert on web services etc. I'm

[2015-02-12 16:30] matthewrmshin opened #1327 "Restart dies if running job host is unavailable"
On restart, the suite dies almost immediately when it attempts to load a task that is still in the `submitted` or `running` state with its latest job submitted to an unavailable host.

[code]

[2015-02-12 20:15] matthewrmshin opened #1328 "dependency graph: deprecate the continuation backslash?"
Background:
* Trailing spaces after the backslash can result in some puzzling errors for users.
* The requirement of the backslash in dependency graphs for continuation can result in some rather *interesting* looking logic when combined with usage of Jinja2. E.g.:

[code]

Is the backslash actually necessary? Continuation should be obvious from the graph syntax. If an identifier is followed by a `

[2015-02-12 22:47] hjoliver commented on #1328
@matthewrmshin - I agree that line continuation markers are not really necessary in graph strings, but the line-continuation is done early in the parsing process (in ```lib/parsec/fileparse.py```) when the file is still being handled simply as a list of arbitrary text lines - so the parser does not know if it's inside a graph string or not.  Also, there's some potential for confusion in the other

[2015-02-12 23:31] #1292 closed

[2015-02-13 01:12] hjoliver opened #1329 "gcylc right-click view logs fails for a remote gcylc"
Viewing of suite server logs works however, because it uses the ```cat-log``` command.  We should do the same for task logs (originally ```cat-log``` didn't handle task logs, but now it does).

[2015-02-13 06:56] matthewrmshin commented on #1328
I think parsec actually has some special logic for handling dependency graphs because the continuation marker is removed by the time the graph is processed by `cylc.config`. It does not remove the continuation marker for something like a shell script.

I don't have a lot of sympathy for the trailing white spaces problem, but then again we are dealing with real users here, so anything to help them

[2015-02-13 09:39] matthewrmshin commented on #1329
It works at our site. Perhaps I am misunderstanding the problem description?

[2015-02-13 09:47] matthewrmshin commented on #1328
I take it back. It looks like the continuation marker is removed from `command scripting` as well.

However, it appears that we already have some special logic to merge graphs under `parsec.fileparse`.

[2015-02-13 10:00] hjoliver commented on #1329
I mean running gcylc on a remote host and attempting to view the logs of a task that runs on the suite host (i.e. not a remote task as far as the suite daemon is concerned).

[2015-02-13 10:09] matthewrmshin commented on #1329
Now I see what you meant!

[2015-02-13 10:14] hjoliver commented on #1328
Sure, if the cost/benefit analysis works out in favour :-)   In this case it *might* be easy enough, but I'm just pointing out that currently line joining is done globally, before we know anything about the meaning of the lines involved.

Yes - see #542.  This was one of the reasons for replacing ConfigObj.

[2015-02-13 10:24] benfitzpatrick commented on #1328
I am in favour of updating the graph parsing engine, and not requiring the backslash.

I don't think it is worth deprecating (then removing support for) the backslash on any
reasonable timescale. Cylc 6 syntax is taking ages to migrate to, even when it has clear
benefits and justification. What is the clear benefit to the user when they replace their
backslashes?

[2015-02-13 10:41] hjoliver commented on #1328
I'm not sure the cost/benefit works out because:
 *  continuation lines are easier to handle as now as a sort of global preprocessing step - the guts of the parser never sees them, just the joined lines.
 * they are already not *required* in the graph to split up long dependency chains - as per my version of Matt's example above
 * if we still want to allow them in other parts of the file (which d

[2015-02-13 11:43] hjoliver opened #1330 "CLI - response from commands that target tasks"
See also #1186 and the communication layer refactor notes (wiki, @arjclark).

Currently CLI access to a suite daemon is divided between an "info interface" that just retrieves information from permanently available data structures, and an "command interface" that queues a request for the daemon to do something.  In the latter case the command exits immediately, and the user may have to monitor the

[2015-02-13 13:10] #91 closed

[2015-02-13 13:34] matthewrmshin opened #1331 "cylc trigger --edit: better record of what's changed?"
Referring back to fantastic #1324 (#91). @dpmatthews suggests that we should have a better record of what's changed by the edit. E.g.:
* Save of copy of the original job file? (Or a diff?)
* Add something to the log?

[2015-02-15 21:51] hjoliver opened #1332 "cylc suite-state command and cycle point format."
cylc-6 has somewhat broken automatic suite state polling tasks, which are defined like this in the graph:

[code]

because the automatically-generated `cylc suite-state` command scripting assumes that the remote suite has the same cycle point format as the local one - which, from NIWA experience, is often not the case.

So, it would be good if `cylc suite-state` could take cycle point format as an

[2015-02-15 21:54] hjoliver commented on #1332
Even better, could the cycle point format in the remote suite database be discoverable?  @arjclark - would it be worth adding a small table to the db to hold static information such as this?

[2015-02-16 06:21] hjoliver opened #1334 "User Guide: add section on changing task behaviour"
Maybe a small section on changing task behaviour in a running suite, including:
- [x] reload
- [x] broadcast
- [x] edit-runs

[2015-02-16 10:21] #1331 closed

[2015-02-16 15:23] benfitzpatrick opened #1335 "cylc remote CLI: preserve CYLC_VERSION environment"
CYLC_VERSION is ditched in remote invocation of commands like `cylc trigger`.

This means that users trying to run some new CLI feature (like `cylc trigger --edit`)
cannot get it to work for remote suite hosts where the new cylc isn't yet the default.

[2015-02-16 15:26] benfitzpatrick opened #1336 "cylc gui graph view: centre and best fit on load"
The graph view currently displays the graph off-centre when it first loads up.

[2015-02-16 15:58] benfitzpatrick opened #1337 "cylc installation: packages for Debian, Red Hat, etc..."
We should look into creating proper packages for cylc installation, ideally supporting
the multi-version wrapper way of working.

[2015-02-16 16:16] benfitzpatrick opened #1340 "Fix initial cycle point conditional trigger processing"
A graph line like this:

[code]

will currently fail validation with:

[code]

This is due to some conditional-expression regex-safety processing at the end of
cylc.config.config.generate_triggers.

[2015-02-16 22:00] #1336 closed

[2015-02-16 22:21] hjoliver commented on #1335
Ouch, that's bad.

[2015-02-17 09:14] arjclark commented on #1332
Strictly speaking that shouldn't be necessary. The argument for `--cycle-CYCLE` should be formatted correctly for the target suite. Could you not add a runtime entry for `polling_task<REMOTE_SUITE::REMOTE_TASK>` that contains the format it should pass the cycle argument in?

I don't have any major objections, but if we did that we'd have to be careful to ensure backwards compatibility with suites

[2015-02-17 10:59] hjoliver commented on #1332
Fair enough - if I know the target suite format it's just about (although not quite) as easy to transform the current cycle point to it, as it is to specify the format on the command line.

On reflection though I think ```cylc suite-state``` should not need to be told the cycle point format of the target suite. I've had several users complain that their polling tasks are broken because of this, an

[2015-02-17 11:02] hjoliver commented on #1332
That's what we're having to do too, at the moment.

[2015-02-17 12:10] benfitzpatrick commented on #1337
Issue numbering is deliberate!

[2015-02-17 12:50] arjclark commented on #1332
@hjoliver - correct.

Yes, if you wanted to have cylc suite-state automatically determine the format to query in.

[2015-02-19 00:51] hjoliver commented on #189
I'm closing this issue for the following reasons (reopen if you disagree):
 1. If a task is using automatic retries as a polling mechanism, then technically reporting failure *is* the right thing to do if the condition being polled for is not satisfied yet.  This is a form of expected failure, obviously not as serious as an unexpected one, but this can be seen in the log now via the "retrying" mes

[2015-02-19 00:51] #189 closed

[2015-02-20 10:37] #1335 closed

[2015-02-20 12:19] arjclark commented on #1279
Interesting, related design problem I've encountered recently was where a user wanted to do an R1 task at the first occurrence in a list of possible dates:

[code]
but hadn't realised that the task would run once at each of these points.

I think the above `min()` suggestion would be useful for that as:
[code]

Restrictions on the initial cycle point would likely be useful here too because if you

[2015-02-23 10:15] hjoliver commented on #1340
Note these conditional expression labels are seen by the user in ```cylc show SUITE TASK_ID``` and *View -> prerequisites and outputs*.  E.g. when running the example of https://github.com/cylc/cylc/issues/1340#issue-57823066 on this branch:
[code]

 It might be better to convert conditional expression labels to something simple like "A", "B", etc. for this purpose, to give for the example above:

[2015-02-23 10:19] #1340 closed

[2015-02-23 10:20] benfitzpatrick commented on #1340
I didn't think of that! I guess we could back-convert the expressions for display purposes if we had to. I do like the idea of keeping the `[^]` part in cylc show.

[2015-02-23 10:24] hjoliver opened #1346 "Make conditional trigger labels more user-friendly."
Task prerequisites reported by `cylc show SUITE TASK-ID` and gcylc right-click-on-task _View -> prerequisites and outputs_ are not easy to understand when conditional triggers are involved, due to use of verbose labels that are really only for internal use.  See https://github.com/cylc/cylc/pull/1345#issuecomment-75518007 for an example and suggested solution.

[2015-02-23 10:34] hjoliver commented on #1340
[UPDATE - the comment @benfitzpatrick was responding to was deleted and moved to the pull request that I had intended to write it on in the first place :grimacing: https://github.com/cylc/cylc/pull/1345#issuecomment-75518007]

[2015-02-23 10:52] hjoliver commented on #1346
From @benfitzpatrick at https://github.com/cylc/cylc/issues/1340#issuecomment-75518282:

The ```cylc show``` output shows the actual task instances depended on, so I think simple renaming of labels to "A", "B", ... (or similar) as suggested in https://github.com/cylc/cylc/pull/1345#issuecomment-75518007 is more helpful in making the the conditional expression as clear as possible.  But I guess we

[2015-02-24 11:12] arjclark opened #1348 "simulation mode: occasional "sticking""
Raising this as an awareness.

A small number of users have experienced issues with suites getting stuck while running in simulation mode. A task will get to the running state but never proceed from there.

At this time we've been unable to reproduce the bug and it doesn't seem consistently reproducible.

I believe this has stopped being broken at some point between cylc 6.1.2 and 6.3.0 but cannot

[2015-02-24 15:52] benfitzpatrick opened #1349 "cylc graph, cylc gui graph view: nice way to specify node images"
We can use the `image` node attribute to draw images within nodes in
`cylc graph` and the `cylc gui` graph view. In fact, you can already embed
an image within nodes for `cylc graph` in the visualization section (add:
`image="/some/path/to/image.png", imagescale="both"` to a task in `[[node attributes]]`.

It would be best if we could get the image to avoid the text in the node (top right?).

[2015-02-24 23:03] hjoliver commented on #1348
We haven't seen this, but I think simulation mode is not heavily used here.  I have a feeling #1294 might have fixed this too, but I haven't even been able to reproduce the problem at an earlier version.  A test suite that consistently stalls in this way after a while would be nice.

[2015-02-25 04:24] hjoliver opened #1351 "Problem restarting suites with all tasks succeeded or failed."
If I shut down the following suite after task ```bar``` fails, the daemon starts up again with both tasks stuck in the runahead pool (verified by running this with #1320)

[code]

The problem doesn't occur if I restart before ```bar``` runs.

[2015-02-25 08:56] arjclark commented on #1348
Agreed, unfortunately consistency has thus far proven elusive. I'll see what I can do.

[2015-02-25 11:23] kaday opened #1352 "cylc validate: && in suite graphing should not validate"
`&&` has been spotted being using the graph section of `suite.rc` this should not validate.

[2015-02-25 12:22] benfitzpatrick commented on #921
The edges were made slightly thicker as of cylc 6 - specifically in https://github.com/cylc/cylc/commit/dcb573a#diff-5e41c8968c112dfbf10e47c35ed41947R112. I'm setting this closed.

[2015-02-25 12:22] #921 closed

[2015-02-25 16:04] benfitzpatrick opened #1353 "Cycling syntax: `T00` *after* the initial cycle point?"
It would be very useful if we could specify e.g. `[[[ T00 ]]]` task after (but not including) the
initial cycle point. This is addressed one way through the `[[[ +PT6H/PT6H ]]]` approach (
see #1278), but this doesn't work if we cannot constrain the initial cycle point and have
different behaviour for particular times.

This is strongly linked to #1279, which suggests a `min(` syntax for a related

[2015-02-26 03:58] hjoliver commented on #1353
I suppose we can't just say this is a solved problem once we *can* constrain the ICP?  For instance we might want to constrain the ICP to be any one of 00, 06, 12, or 18, but still have a task that starts at the next T00 regardless of which it is (so +PT6H won't do it).

I think I prefer your second notation, as "+" (in the last example) is suggestive of adding a fixed interval.

[2015-02-26 10:25] arjclark commented on #1279
I'm taking a crack at the `initial cycle point constraints = ` part of this

[2015-02-27 12:01] arjclark opened #1355 "recurrances: run once at first instance from a set of cycles"
Followup from Ben's comment in #1279

Comment from @benfitzpatrick -

moment. It needs a 'minimum' feel to it. Maybe just:

[2015-02-27 12:02] arjclark commented on #1279
I've split Ben's R1/min(...) suggestion into a separate ticket at #1355

[2015-02-27 13:52] benfitzpatrick commented on #578
We now definitely have a platform where users can't use GUIs, so this would be good.

[2015-03-02 13:44] benfitzpatrick commented on #984
Maybe we want the initial cycle point to be scriptable:
[code]

or maybe provide the current date and time as a Jinja2 variable that could be altered.

Things like rounding down the time to the nearest `00Z, 06Z, 12Z, 18Z` are really difficult
to accommodate without some kind of scripting or Jinja-ninja-ing.

[2015-03-02 14:08] benfitzpatrick opened #1356 "cylc gpanel --install: avoid hardcoded versioned CYLC_DIR"
At the moment, `cylc gpanel --install` will use `$CYLC_DIR` to write a path to `/some/path/to/bin/cylc-gpanel`. When using the cylc wrapper, this will generally point to the hardcoded versioned cylc directory. This means that when this version is removed, the panel applet will stop working.

Either the code or the instructions need to be updated to allow better compatibility with the wrapper.

[2015-03-03 00:11] hjoliver opened #1358 "Removing a task doesn't immediately trigger a run-db update."
Just noticed in our operation: a failed task proxy was removed (without spawning) from a running suite in which nothing else was happening at the time. Gsummary continued to display the failed task even though it no longer existed.  Nudging the suite fixed the problem.

[2015-03-03 04:37] hjoliver opened #1359 "Extended targetting of multiple task proxies by cylc commands?"
Currently cylc commands that interact with a suite daemon can select multiple tasks by family name or regular expression, for a given single cycle point.  Users have occasionally requested the ability to target multiple task instances (at different cycle points) at once.  We could potentially allow more general targetting in several ways, e.g. multiple task IDs, multiple task names, task name rege

[2015-03-04 11:57] benfitzpatrick opened #1360 "Relative final cycle point for visualization fails validation"
The following section in a suite.rc:
[code]
will fail validation in a cylc 6 syntax suite.

[2015-03-04 11:59] arjclark commented on #1358
I'd have thought removing a task wasn't relevant to the run-db? Or is this just a case of how things are bundled together?

[2015-03-04 19:34] hjoliver commented on #1358
I guess ```cylc gsummary``` interrogates the run-db, not the suite daemon, to set what tasks exist in what state.  So, in the case described above, gsummary says there is a failed task in the suite when that is in fact no longer true.

[2015-03-06 22:33] #955 closed

[2015-03-09 21:04] hjoliver opened #1363 "Should duplicate list-valued suite config items append, not override?"
Motivation: the special task lists don't behave nicely if you want to divide the whole suite into logically distinct parts.  E.g. NIWA has dual use (operational and research) suites in which the operational product generation and ingestion graph and runtime is ~hidden from non-operational users in an include-file at the bottom of the suite definition.  This works well for graph and runtime, but no

[2015-03-09 21:17] hjoliver opened #1364 "Proposal for putting "special task" config in the graph."
In `[scheduling][[special tasks]]` special behaviour is bestowed upon members of a list of task names, each name with the "special" configuration parameters (if any) attached to it.  This works OK for sequential tasks, which have no configuration parameters; and for clock-triggered tasks, which just take a short date-time offset string, but it's a very ungainly way to specify the much less concise

[2015-03-10 09:21] matthewrmshin commented on #1363
Ideally, however, we should have syntaxes to support both append and override semantics.

[2015-03-10 09:23] matthewrmshin commented on #1364
I like the graph solution.

[2015-03-10 09:39] kaday opened #1365 "cylc suite: max active cycle points = 0"
When `max active cycle points = 0` then the suite correctly sits in waiting, but the suite should not validate and should [FAIL] with an appropriate message.

[2015-03-10 11:51] arjclark commented on #1355
This looks like it's going to be something useful to have as we've lost the ability to do this kind of thing:

[code]
Various workarounds are being implemented at the moment while we wait on #1354 and this sort of functionality.

[2015-03-10 12:09] arjclark commented on #1355
Note for self: pertinent code is under lib/cylc/time_parser.py: def parse_recurrence

[2015-03-10 21:19] hjoliver commented on #960
For the record, here's how this sort of thing can be scripted already:
[code]
(credit @trwhitcomb)

[2015-03-10 21:25] hjoliver commented on #933
Closing this has been made irrelevant by #1320

[2015-03-10 21:25] #933 closed

[2015-03-10 21:28] #180 closed

[2015-03-11 02:03] hjoliver commented on #1351
[UPDATE] if any suite that only contains failed and succeeded task proxies is stopped and restarted, all task proxies remain trapped in the runahead pool (which they initially get loaded into at start-up).

This is caused by the initial loop over task proxies in ```task_pool.release_runahead_tasks()```

[2015-03-11 08:50] hjoliver opened #1367 "Bug in R / INTERVAL / STOPPOINT recurrences."
I need to make something happen at every cycle point until but not including the final cycle point.  Example:

[code]

The two variants of the final recurrence should give this same result - this:
![foo-good](https://cloud.githubusercontent.com/assets/2362137/6592920/0bc98e74-c838-11e4-9677-02272da9e990.png)

But the one labelled "bad" in the comment, which is what's needed in real suites, gives t

[2015-03-11 09:56] #1351 closed

[2015-03-11 10:05] arjclark commented on #1364
The only thing against moving clock triggering into the graph that I can immediately think of is that we'll go from one entry to N, where N is the number of graph sections foo appears in. Potentially, this becomes a bit of a maintenance nuisance but could be got round with Jinja2 variables. I suspect the result might end up something like:

[code]

[2015-03-11 20:41] #1279 closed

[2015-03-12 05:51] w21085 opened #1371 "[cylc] job submission error with pbs overriding"
I added pbs overriding  to `suite.rc` file. (cylc 6.2.0 later)

for example,
[code]

if overriding `command template` in `suite.rc`, the error of submission will be occurred.

I saw a defect after inspecting codes,
(I have just little knowledge for Python. I've studied for only two days. Please consider my poor ability of python.)

In my opinion, line 312 in `lib/cylc/batch_sys_manager.py` is wron

[2015-03-12 09:00] #1310 closed

[2015-03-12 09:34] matthewrmshin commented on #1371
@w21085 This appears to be a documentation issue. The logic is deliberate to force the path name of the job file to be explicit in the template.

The alternate way of specifying `-V` is to use a directive instead. (You will get a `#PBS -V` line in the job file.) E.g.:
[code]

[2015-03-12 11:06] #1371 closed

[2015-03-12 12:43] #1352 closed

[2015-03-12 15:35] #1365 closed

[2015-03-13 01:51] hjoliver opened #1378 "cylc suite-state task cycle point and offset interval"
For use in tasks, it would be good if ```cylc suite-state``` could optionally take cycle point from the environment, with an optional offset interval.

[2015-03-16 20:29] hjoliver commented on #1378
(currently to use automatic polling tasks - i.e. via the graph notation - you have to make the cycling of the local polling task mirror that of the remote one being polled for)

[2015-03-16 21:46] #1355 closed

[2015-03-16 22:31] #1367 closed

[2015-03-17 02:54] #1327 closed

[2015-03-17 09:31] #1280 closed

[2015-03-17 22:07] #1360 closed

[2015-03-18 10:17] matthewrmshin commented on #1358
I had a quick discussion with @benfitzpatrick about this. `cylc gsummary` uses `cylc cat-state`, so we are not sure why this is related to the run DB.

[2015-03-18 21:18] hjoliver opened #1382 "(re)allow independent filtering of views"
See:
 * https://github.com/cylc/cylc/pull/1320#issuecomment-83021349
 * https://github.com/cylc/cylc/pull/1320#issuecomment-83182130

[2015-03-19 08:37] #1073 closed

[2015-03-19 15:03] arjclark commented on #1364
@dpmatthews has pointed out that the above could be reduced down to:

[code]

[2015-03-19 15:24] arjclark commented on #1364
While we're looking into clock triggering etc. it might also be useful to one day have this kind of triggering:
[code]
where bar is triggered 1 hour after foo has finished.

Of course, at the moment we can just do:
[code]
I've seen one case of this where it has been necessary to stagger tasks like this due to timings and limitations in downstream systems but could prove useful for others.

[2015-03-19 15:34] benfitzpatrick commented on #1364
Can we lowercase `<CLOCK` and `<EXTERNAL`? I think it would look nicer. I know we already use caps for suite polling, but we could change that as well...

[2015-03-19 19:11] matthewrmshin commented on #1364
What about `$clock` as opposed to `<clock>`?

[2015-03-19 22:34] hjoliver commented on #1364
yes.

I'm not sure it's a good idea to have it look like a shell variable?

[2015-03-19 22:49] matthewrmshin commented on #1364
That's the idea, as it can be considered a built-in cylc graph variable.

[2015-03-20 01:22] hjoliver opened #1384 "Deprecate "command scripting" to "script" or "scripting"?"
The term "command scripting" annoys me.  Primarily, the word "command" is unnecessary.  Secondarily (and much less annoyingly) the word "scripting" was originally chosen to imply a piece of the job script, not an entire script in itself, but just "script" would probably do (especially as it is often just used to invoke an external script).

So: @matthewrmshin et. al. - would you agree to the follo

[2015-03-20 09:24] matthewrmshin commented on #1384
I agree to the change.

[2015-03-20 10:08] #1356 closed

[2015-03-24 08:36] kaday opened #1387 "cylc validate: cycle point but no cycles defined bad error"
When the `suite.rc` has a cycle point defined but no cycles the error is:
[FAIL] cylc validate -v --strict mi-ad904 # return-code=1, stderr=
[FAIL] Incompatible value for <class 'cylc.cycling.integer.IntegerPoint'>: 20130204T0000: invalid literal for int() with base 10: '20130204T0000'
If initial/final cycle point has been defined but no cycles then the suite should fail validation with an appropr

[2015-03-24 09:37] matthewrmshin commented on #1387
Example:

[code]

[2015-03-24 10:04] matthewrmshin commented on #1387
Similar problem:

[code]

gives:

[code]

[2015-03-24 11:33] kaday commented on #414
Do you still have this problem as I am unable to reproduce it with a simple test suite?

[2015-03-24 21:45] hjoliver commented on #414
I can't reproduce this either, I guess it has been fixed (well, there's been many changes to the GUI in 2 years...)

[2015-03-24 21:45] #414 closed

[2015-03-24 22:18] #1329 closed

[2015-03-24 22:58] #1243 closed

[2015-03-25 23:15] hjoliver opened #1392 "spent task cleanup can be broken by some cylc-6 graphs"
Spent tasks in this suite will never be cleaned up, because of our current reliance on a "clean-up cuttoff" cycle point for each task:

[code]

The dependence on `foo[^]` here is useless, but that's beside the point.

The proper solution to this (updated from bullet point 2 in this old issue comment: https://github.com/cylc/cylc/issues/108#issuecomment-8654425) is probably to use the run-db to sat

[2015-03-25 23:25] hjoliver commented on #1358
You're right, it is the internal suite state that isn't being updated.  To test this, btw:
[code]
Run the, remove the failed task, then run ```cylc cat-state```.

[2015-03-25 23:26] hjoliver commented on #1358
A nudge does it, so this will be an easy fix.

[2015-03-26 04:04] hjoliver opened #1394 "Use of absolute cycle points in graph offsets."
[code]

The two variants of the inter-cycle trigger above should be equivalent.  The absolute version graphs correctly but on validation it gets stuck in an endless loop.  A quick look at this suggests it's computing the cleanup cut-off point that's causing the problem.

[2015-03-26 12:09] arjclark commented on #1392
I guess it would depend on what queries you make, how often and when.

Potentially, one could query the db for out of scope task events when a task object is created (much like submit number is now) and set the dependencies accordingly (N.B. only out of scope ones should be queried to minimize load increases). I'm unsure what the implication of this would be in terms of db loading so would need ca

[2015-03-27 10:57] #1358 closed

[2015-03-31 08:52] hjoliver opened #1399 "Task URL in addition to title and description?"
It might be useful to have a url item in runtime namespaces, exposed via gcylc.  This could be used, for example, to link to documentation that tells suite operators what to do if a task fails.

(I think we discussed this briefly quite a long time ago, but I don't see an existing issue up).

[2015-04-07 00:25] #700 closed

[2015-04-08 04:37] hjoliver opened #1407 "Make cylc task edit-runs rose app aware?"
BoM users have noted that for tasks that are Rose apps, an edit run "only" exposes the complete task job script, not the content of the app configuration.  Of course I have emphasized that this is "not a cylc problem", and in fact not even a Rose problem - it is simply that the rose app is *what the task needs to run* in this case, just like running any model via an existing interface (a front-end

[2015-04-08 05:27] hjoliver opened #1408 "Prevent traceback on scheduler error, unless --debug"
Runtime exceptions currently cause a knarly-looking traceback that scares some users.  Most of the time this is unnecessary - e.g. on SuiteConfigError - essentially a validation error - just printing the error message would be better, unless ```--debug``` was used.

[2015-04-08 07:42] arjclark commented on #1407
Nice idea. I think you run into problems as soon as the app to be run uses optional configs though.

I think you're pushing the right line though with it not really being a cylc or Rose problem.

[2015-04-08 09:01] matthewrmshin commented on #1407
I am not sure if this is a good idea.
* It is quite hard to support correctly because the Rose application configuration may only be installed on the task host.
* It can be tricky edit, because the user will end up having to modify the `rose task-run` command to pick up the edited Rose application configuration from an alternate location.
* I would have imagined that edit run is a facility to fix

[2015-04-08 09:58] arjclark commented on #1334
@hjoliver - have re-opened as #1404 only covers edit-runs and not all the above mentioned methods.

[2015-04-13 02:50] hjoliver opened #1410 "Bug in at-3.1.16 breaks 'at' job log filenames."
I've just upgraded my laptop to Fedora 21, which has at-3.1.16.

With `job submission method = at` our job err logs get names like this:

[code]

This is clearly something to do with this patch to at
   https://bugzilla.redhat.com/show_bug.cgi?id=486844
or this follow-up to it:
   http://pkgs.fedoraproject.org/cgit/at.git/commit/?id=50be86ebdad7bf4ff2b0809334f3c4445b1e51d4

[2015-04-13 03:48] hjoliver commented on #1410
This works:
[code]
I get ```/bin/bash: line 1: exho: command not found``` in ```foo.err```.

This (as in ```lib/cylc/batch_sys_manager.py:job_submit()```) doesn't:
[code]
I get ```/bin/bash: line1: exho: command not found``` in ```foo.errmarcinDELIMITER41c3544c```.

[2015-04-13 04:12] hjoliver commented on #1410
@matthewrmshin - any suggestions?  This will come to bite as all in the near future.  Maybe we need to execute ```at now``` via a shell wrapper, something like this works (tested):

[code]
and ```at.sh```:
[code]
(or with the output redirection in the bash script).

Why this doesn't have the same result from the Python-only version, I'm not sure...

[2015-04-13 08:39] matthewrmshin commented on #1410
Does it work with `at -f FILE now`?

[2015-04-13 21:28] hjoliver commented on #1410
@matthewrmshin - that won't work unless we get the job script to redirect its own output to the standard cylc logs, or use a wrapper script that does the same, because ```at``` provides no way to capture output other than in an email to the user. (currently we pass a simple redirection wrapper constructed on the fly to at stdin).

[2015-04-13 23:08] matthewrmshin commented on #1410
Sorry, I meant writing the stdin script to a temporary file and then use `at -f tmpfile now`.

[2015-04-14 00:22] hjoliver commented on #1410
Yes, I think that would work, will test later...

[2015-04-14 04:38] hjoliver opened #1411 "Task proxies should remember their log files across restarts."
https://github.com/cylc/cylc/pull/1401#issuecomment-91056516

(can we just assume standard logs exists in the standard location, based on task state?)

[2015-04-14 04:53] hjoliver opened #1412 "gcylc - job logs not accessible in retrying tasks."
A warning dialog just says "[task] has not started running yet"

[2015-04-14 08:10] matthewrmshin commented on #1410
An alternate approach is to modify the header of the job file to have something like:

[code]

And we'll supply the STDIN of `at` with something like:

[code]

[2015-04-14 08:15] matthewrmshin commented on #1411
Yes, we can.

(This is somewhat related to #992, i.e. the plan to migrate to cylc the functionality of `rose suite-hook`, which writes locations of job logs to an sqlite file for Rose Bush.)

[2015-04-14 11:25] matthewrmshin opened #1413 "global.rc: per host batch system commands"
It would be desirable to have per-host site/user global defaults for batch systems commands for submit, poll and kill.

[2015-04-14 12:14] hjoliver commented on #1410
I think I would prefer not to modify the header of the job file to redirect the output streams - better to have simple job scripts that emit output in the normal way if you want to run them manually for testing or debugging (I know the redirection is optional, but it still adds some extra complexity to the job script that users sometimes need to look at). Do you agree?  If so, I vote we go the way

[2015-04-14 12:17] matthewrmshin commented on #1410
Please try `at -f tmpfile now` to see if it works or not.

[2015-04-14 13:58] matthewrmshin commented on #1412
I am unable to repeat this...

[2015-04-15 23:44] hjoliver opened #1415 "Bad use of broadcast can bring down a suite."
E.g. in a date-time cycling suite:
[code]

[2015-04-16 01:41] hjoliver commented on #1415
Attempting to broadcast an illegal config item does not cause a problem, because validation catches that in the CLI.

Broadcasting to a namespace that is not defined in the suite is currently legal and doesn't cause any problems, but it won't have any effect.  We should probably make this illegal, or ignore it.

Broadcasting to any valid cycle point is legal, whether or not there are any live task

[2015-04-16 08:42] benfitzpatrick opened #1417 "clock-triggered tasks: allow null string for no offset"
We currently have to specify:
[code]
for a no-offset clock-triggered task.
It would be nicer to be able to write `foo()` or just `foo` instead.

[2015-04-16 11:22] hjoliver commented on #1412
Neither am I.

[2015-04-16 11:22] #1412 closed

[2015-04-16 14:41] kaday commented on #1387
@benfitzpatrick and I have decided that the last one is a suitable error and should not be changed.

[2015-04-16 22:16] hjoliver opened #1420 "Can't run in dummy mode if suite uses custom message triggers."
I think we currently ignore task ```[[[outputs]]]``` in dummy mode, which results in a run time error when the outputs referenced in the graph are encountered.  Instead we should generate dummy task scripting that actually emits the trigger messages.

[2015-04-16 22:48] hjoliver opened #1421 "At start-up, initialise the suite state summary sooner."
In large suites with a lot of tasks to load at start-up, clients can't connect to the state summary straight away.

[2015-04-17 09:07] benfitzpatrick opened #1422 "cylc insert: avoid Database Integrity Error on insert of old task"
Inserting a task that has already fallen out of the task pool causes a Database Integrity Error warning in the suite error. This indicates that the submission number is probably incorrect.

(Obviously, I didn't mean to name this issue 'pwd'!)

[2015-04-17 09:07] #1415 closed

[2015-04-17 09:37] benfitzpatrick opened #1423 "cylc gui graph view: incorrect dependency plot for offset R1 task"
The following suite.rc snippet:
[code]

produces an incorrect graph view in cylc gui when it first loads up:

![gcylc-graph-view-delayed-r1](https://cloud.githubusercontent.com/assets/1138333/7199549/9106f816-e4ed-11e4-81ea-0234178d2c9f.png)

[2015-04-17 13:09] benfitzpatrick opened #1427 "Command to cancel suite stop?"
Should we have a command to abort a suite stopping? Stopping is not always quick, and people change their minds...

[2015-04-17 13:40] matthewrmshin commented on #1427
@benfitzpatrick Please change your mind about this...

[2015-04-17 13:47] benfitzpatrick commented on #1427
It's @steoxley's mind to begin with!

How about if we get another 'no' from a team member, we'll close the issue?

[2015-04-17 22:09] hjoliver commented on #1427
I'm not a definite "no", but it doesn't make me hugely happy.  We'd have to make each part of the extended shutdown process reversible.  Which may be easy enough, but I'm not sure offhand.

[2015-04-18 23:24] hjoliver opened #1429 "Print info to stdout during start-up."
Large suites can take some time to load up.  We should print to stdout that (1) the suite is being parsed; (2) a progress bar of some form - just txt to stdout would do initially - during loading of the initial task pool.

[2015-04-20 07:58] kaday commented on #1427
I am also a "no". They can restart if they want. @benfitzpatrick I say close it.

[2015-04-20 08:34] arjclark commented on #1427
3rd no from me - @kaday's answer is pretty much spot on what should be done.

[2015-04-20 08:36] matthewrmshin commented on #1427
Enough votes. I'll close this.

[2015-04-20 08:36] #1427 closed

[2015-04-20 13:30] #1387 closed

[2015-04-20 13:44] benfitzpatrick opened #1431 "cylc broadcast: 6.4.0+ client can crash a 6.3.1 suite"
When a (cylc 6 syntax) suite is running at cylc 6.3.1, and a cylc 6.4.0+ 'cylc broadcast' (that is otherwise correct) is run that looks like this:
[code]
then it brings down the daemon with:
[code]

[2015-04-20 13:45] benfitzpatrick commented on #1431
The relevant change is https://github.com/cylc/cylc/pull/1388.

[2015-04-20 14:32] matthewrmshin commented on #1431
@benfitzpatrick I am removing the bug label because this is a version incompatibility issue instead of a bug in a cylc version.

I am not sure what is the best action here given that it is the server that dies. The easiest fix is to perform a version check between client and server, and fails the client on incompatible versions. (We can perhaps make this `global.rc` configurable to demote the clie

[2015-04-21 11:07] #1384 closed

[2015-04-21 11:14] #1417 closed

[2015-04-21 11:33] #1422 closed

[2015-04-22 19:41] trwhitcomb commented on #1363
Another area where this is handy is in the specification of PBS/scheduler options.  For example, in PBS the node count, walltime, etc. is all wrapped up in the `-l` option.  This means that we need to have only a single `-l` for each task rather than allowing them to be built up.

We've found the override semantics useful by default - maybe if it doesn't cause too many problems with the parser, yo

[2015-04-22 20:54] hjoliver commented on #1363
@trwhitcomb & @matthewrmshin - agreed, we'll allow both.  I like += for append (list or string) and = for override (since == is typically a comparison operator).

[2015-04-22 21:00] dpmatthews commented on #1363
@trwhitcomb - note that you can split the PBS `-l` options into separate directives, see http://cylc.github.io/cylc/html/multi/cug-htmlse11.html#11.2.5

[2015-04-23 09:33] arjclark opened #1434 "cylc gsummary: tooltip for updated showing suite update time not retrieval time"
In gsummary with the updated column showing, the tooltip reports that the info was retrieved at the time of the last suite update. This should be corrected to the time at which gsummary retrieved this information.

[2015-04-23 09:54] kaday commented on #1030
A user has commented that having a `cold-start` as default for the run option when they are restarting a suite has nearly caused the deletion of data. I think issue will/should capture and help safe-guard against this.

[2015-04-24 09:02] benfitzpatrick commented on #1256
I guess this may not be replicable any more?

[2015-04-24 11:36] arjclark commented on #1256
Unable to replicate any more. If this is raised again I'll re-open the issue.

[2015-04-24 11:36] #1256 closed

[2015-04-27 14:02] #1434 closed

[2015-04-29 09:33] #1399 closed

[2015-04-29 22:38] hjoliver opened #1440 "Task name filtering should filter out graph base nodes too."
(currently it doesn't)

[2015-04-30 01:45] hjoliver commented on #1431
Actually #1388 is more generally not backward compatible with older suite daemons in that the broadcast methods now return more information than they used to but the broadcast command does not handle the old form.  We normally do handle this sort of scenario properly (although it arises more frequently in the GUI code than the CLI).  @matthewrmshin - can you possibly fix this before the next relea

[2015-05-01 15:10] kaday opened #1442 "cylc validate: ( foo & bar => baz not fail validation"
Examples:
[code]
fails validation as expected, but
[code]
does not.

[2015-05-04 01:28] hjoliver opened #1443 "Better job submission failure errors?"
Under the new(ish) job submission mechanism, choosing a job submission method that is not available on the task host results in an error that does not reveal the simple cause of the problem and is pretty much incomprehensible.  E.g. choosing loadleveler on a host without loadleveler installed I get this:

[code]

[2015-05-05 07:54] benfitzpatrick commented on #1087
No requirement for this has come up, so I think it's OK to close this one.

[2015-05-05 08:05] matthewrmshin commented on #1443
OK, it looks like we need to catch `OSError`, and set its `.filename` to the job submission command.

[2015-05-05 08:07] #1087 closed

[2015-05-05 15:10] matthewrmshin commented on #30
It will also be nice if we can show when the suite will re-submit the task. (`cylc show SUITE TASK.CYCLE` should probably present this sort information as well.)

[2015-05-05 17:59] matthewrmshin commented on #30
(This particular problem has been resolved for quite some time already. The task combo log viewer is able to show log files of all submitted jobs of a task.)

[2015-05-05 20:03] matthewrmshin commented on #903
Does #1405 close this?

[2015-05-05 20:22] hjoliver commented on #903
Yes it does.  I had forgotten about this earlier version of #1399 (which adds suite and task URLs).

[2015-05-05 20:22] #903 closed

[2015-05-06 06:43] #1443 closed

[2015-05-06 18:19] kaday commented on #1442
Check for pairs of brackets, i.e. the number of "(" matches the number of ")".

[2015-05-06 21:42] hjoliver opened #1446 "Suite log, out, err rotation should be synchronized"
Currently these are rotated independently according to file size.  It would be better to rotate all files with the log (which is biggest), so that the content matches across them all.

[2015-05-07 08:31] arjclark commented on #1442
Does something like this fail validation:
[code]
(Am kind of hoping so or the code for the pre-initial cycle dependencies filtering isn't working as intended)

[2015-05-07 08:32] arjclark commented on #1446
+1 - Very much agreed.

[2015-05-07 08:43] kaday commented on #1442
This is covered and would fail validation as it counts left and right brackets to see if the number of them is equal.

[2015-05-07 11:11] matthewrmshin commented on #1446
See also #386.

[2015-05-07 16:18] benfitzpatrick opened #1448 "cylc state dumping: error handling error"
In the following code for `suite_state_dumping.py`, `handle` is undeclared if an IOError is raised and results in:
[code]

Code:
[code]

[2015-05-07 21:56] hjoliver opened #1449 "Fail validation if cycle point format is too coarse-grained."
If the cycle point format is coarser-grained than a recurrence, task cycle points (in effect) don't increment.  This is kind of obvious, but I've done it myself accidentally several times.  We should probably fail it in validation.

[code]
This results in a very short suite run (see the WARNING):
[code]

[UPDATE: corrected for typo in the original description]

[2015-05-08 06:15] #30 closed

[2015-05-08 10:50] matthewrmshin commented on #905
@benfitzpatrick Are we still seeing this? Or has this been fixed by #1012 (i.e. the son of #891)?

[2015-05-08 11:01] #1448 closed

[2015-05-08 11:30] benfitzpatrick commented on #905
I can't see it in any cylc 6 logs. Very happy to see it gone!

[2015-05-08 11:30] #905 closed

[2015-05-10 09:56] kaday commented on #1052
Upgrade to Bootstrap3 to be able to do cool things like @matthewrmshin and I discussed with reference to: metomi/rose#1609

[2015-05-11 11:44] #1423 closed

[2015-05-11 15:14] #1442 closed

[2015-05-11 16:08] benfitzpatrick opened #1452 "cylc gui: show host for submit-failed"
The `host` column could be filled in in the cylc gui tree view for a task in `submit-failed` (and `retrying`?).

[2015-05-12 11:18] #1452 closed

[2015-05-12 12:05] benfitzpatrick opened #1454 "cylc gui: version error when launching cylc run"
I get this error when running a suite from within the cylc gui:

[code]

The suite then starts to do strange things with host commands - e.g. from the log/suite/err:
[code]

[2015-05-12 12:45] benfitzpatrick commented on #1454
Forget this - my fault for messing around with subprocess - I'd left a `.pyc` file in my home directory that Python started to import (not sure why, given that I was running in totally different directories...).

[2015-05-12 12:45] #1454 closed

[2015-05-13 03:12] hjoliver opened #1457 "Failure of task poll command not shown in the GUI."
If a poll fails (e.g. task host or batch system down) we should put "poll command failed!" or similar in  the text view "latest message" column.

[2015-05-13 09:51] benfitzpatrick commented on #345
Currently, the 'Switch to Another Suite' action will switch suite but not host, which results in a connection failure and a stopped status in the GUI.

[2015-05-13 10:06] matthewrmshin commented on #345
See also #1050 and #1285.

[2015-05-13 12:13] matthewrmshin commented on #1446
I must admit I am a bit confused by the current setting with these multiple modules:
* `cylc.suite_logging`, which deals with `log` and `err`.
* `cylc.suite_log_interface`, which provides a Pyro interface to `err` via `cylc.suite_logging`.
* `cylc.suite_output`, which deals with `out` and `err`.

We need to do something to rationalise these.

[2015-05-13 12:37] hjoliver commented on #1446
(a late-night look-in here)

Yes, hence #386 (2 yrs old, gack).

In historical context it's not completely insane, however: ```cylc.suite_logging``` just configures the standard python logging facility (log message format etc.), which (as configured) happens to write WARNING and CRITICAL messages to stderr as well as the event log;  ```cylc.suite_output``` redirects ```sys.std(out|err)``` to the s

[2015-05-14 14:47] #1457 closed

[2015-05-18 07:38] #1421 closed

[2015-05-18 16:31] benfitzpatrick opened #1465 "cylc gsummary: update time: traceback for suite stop"
Under some circumstances, `cylc gsummary` can fail with `UnboundLocalError`:
[code]
It looks like this can happen when suites stop running.

[2015-05-19 09:22] #515 closed

[2015-05-19 10:21] #1465 closed

[2015-05-20 01:00] hjoliver opened #1468 "Refactor task prequisites/outputs."
The old code for handling task prerequisites and outputs (which are closely related) is over-complicated.

 * The prerequisite code is pretty much duplicated between non-conditional and conditional prerequisites, because when conditional triggers were first allowed they were handled differently, by transforming them into Python expressions and using ```eval``` to get the Python interpreter to eval

[2015-05-20 02:11] hjoliver opened #1469 "Support filesystem event triggering?"
Worth considering?

Pyuv claims to provide a portable interface to filesystem events (`inotify` on Linux).  Some OSes (or filesystems? - GPFS on AIX) apparently do not support filesystem events at all, but with pyuv maybe cylc could support a generic interface that just fails with a sensible error message if you try to use it on an inappropriate platform.

(credit: Milton Woods, BoM, for the idea)

[2015-05-20 08:12] matthewrmshin commented on #1468
Sounds like a good plan.

[2015-05-20 09:28] #192 closed

[2015-05-20 09:28] #522 closed

[2015-05-21 02:16] hjoliver opened #1470 "gcylc - graph view re-center animation"
I've noticed that clicking on a task off-center in the graph view no longer causes the nice zoom out/ in animation to re-center on the clicked-on task ... but it works on the new scissor nodes.

[2015-05-21 17:49] matthewrmshin commented on #402
I think this is no longer a problem after #1339.

[2015-05-21 17:49] #402 closed

[2015-05-21 17:58] matthewrmshin commented on #931
Usage of `$CYLC_DIR/conf/job-init-env.sh` documented in #1424.

[2015-05-21 18:00] matthewrmshin commented on #1446
See also #846.

[2015-05-21 18:20] matthewrmshin commented on #1407
(Edited my comment above.)

[2015-05-22 00:13] hjoliver opened #1471 "gcylc - replace graph base nodes with scissor nodes?"
Base nodes are simply nodes in the suite graph that don't currently have a corresponding live task proxy in the suite.  In a way, they fulfill the same function as the new scissor nodes replacing tasks that have been filtered out. @benfitzpatrick - do you think we should scissor base nodes out too?  (or would that destroy so much of the graph structure that there would be no point in having the gr

[2015-05-22 01:32] hjoliver opened #1472 "batch_sys_manager job kill bug"
Job kill for batch systems other than 'at' and 'background' always returns 1, so the cylc log reports "job kill failed" even though it succeeded.  The task still enters the failed state because the task error trapping still sends a failure message from the killed task.

@matthewrmshin - I probably won't have time to fix this today - can you do it?  From a quick look:

Bug introduced by https://git

[2015-05-22 09:28] #1188 closed

[2015-05-22 23:23] hjoliver opened #1475 "Suite daemon user authentication improvements."
(ref: recent email to @cylc/core)

I've found that Pyro can use "custom connection validators" to authenticate connections, and worked out how to use them.  This will enable us to do much better than the default all-or-nothing universal passphrase model that cylc has used to date.

After a bit of thought on this, I'm proposing a two- or three-step route to better authentication:

 ~~1. Allow non-a

[2015-05-22 23:34] hjoliver commented on #1475
For the GUI, we'll need to determine the authentication status at first connection, and in the read-only case grey-out all menu items for suite control commands.

[2015-05-25 02:06] hjoliver commented on #1471
Actually, this is probably not a good idea as it would reduce the graph view to showing nothing but dependence links (or not) between live Proxies.   However, it's not exactly clear to me how filtering and scissoring affects display of base nodes at the moment, in suites spread across several cycles.

[2015-05-25 05:14] #1472 closed

[2015-05-26 08:45] arjclark commented on #1332
@hjoliver - have been thinking about this one, in particular what to do when two suites don't run at the same resolution (e.g. one at sub-hourly polling a daily only suite). Does this problem usually occur when an ISO suite tries to poll a non-ISO one, or are you playing round with cycle point formats in the suites themselves?

[2015-05-26 09:06] hjoliver commented on #1332
@arjclark - yeah we've mostly run into this problem when a newer suite needs to poll one still running with the legacy cycle point format.  However, cylc-6 allows a wide variety of formats (particularly if you consider suites that don't need hour or day resolution) that I don't think this will be an uncommon experience even with strictly ISO formats.

[2015-05-27 11:03] arjclark commented on #1332
@hjoliver - so have been wondering, if you have an upstream suite like this:
[code]
and a suite from which it is polled like this:
[code]
how would you like the loss of precision to be handled? i.e. polling suite is cycling hourly whereas upstream suite is cycling daily - re-formatting of the cycle point from the polling suite format to the upstream suite's format would result in loss of the hourl

[2015-05-28 13:31] dpmatthews commented on #1407
After further discussion with @matthewrmshin we don't think this is sensible. An edit run is about changing the job script. Going beyond that would mean completely re-thinking what we mean by job submission.

[2015-05-28 13:31] #1407 closed

[2015-05-28 13:54] matthewrmshin commented on #931
@m214089 please re-open if this is still an issue.

[2015-05-28 13:54] #931 closed

[2015-06-02 09:01] #1213 closed

[2015-06-02 09:30] arjclark commented on #1213
Closed based on the following:

This is nigh on impossible to sensibly do unless we're willing to cut off any external processes using the public db. However, we have increased tolerance to locking of the public database in #1479. Future integration of rose like suite-hooks into cylc to carry out file retrieval should reduce the need for external processes to access the databases.

This should now

[2015-06-02 11:44] matthewrmshin commented on #279
@benfitzpatrick thinks this should now be closed, since #1125 has mostly addressed the issue.

[2015-06-02 11:44] #279 closed

[2015-06-02 21:46] hjoliver opened #1481 "Extra self edges now displayed on family groups."
See examples here: https://github.com/cylc/cylc/pull/1478#issuecomment-107924503

Strictly speaking this is not a bug, #1463 just allowed graphviz to display parallel edges by turning off the "strict" graph option. This was done in order to detect self-edges, which stall a suite via the corresponding self-prerequisites.  However, plotting parallel edges is clearly not desirable for task families.

[2015-06-02 23:58] hjoliver commented on #152
There is no need for this among current cylc users in the NWP and climate research communities.   If others want to try cylc on Window in the future, we can reopen this issue then.

[2015-06-02 23:58] #152 closed

[2015-06-03 00:00] hjoliver commented on #970
Closing this; the consensus is: persuade PBS admins to increase the unreasonably low default interval between kill signals.

[2015-06-03 00:00] #970 closed

[2015-06-03 00:15] #1378 closed

[2015-06-03 00:38] hjoliver opened #1483 "CLI help: return boring options to last."
Some change since 6.4.1 has put all the shared, little-used command options at the top of command help, instead of the more interesting command-specific ones.

[2015-06-03 10:22] #1481 closed

[2015-06-03 10:30] amckinstry commented on #1337
I'm packaging cylc (also fcm, rose) for inclusion in Debian.

regards
Alastair McKinstry (mckinstry@debian.org)

[2015-06-03 10:45] hjoliver commented on #1337
@amckinstry - that's exciting to hear!  Please keep us posted on progress (and let us know if any quirks in the system get in the way of proper packaging, of course).  Are you a user yourself?

[2015-06-03 10:52] amckinstry commented on #1337
@hjoliver I've been experimenting with it at work (www.ichec.ie) where we do NWP and climate with Met Éireann, the Irish met. agency. I've been setting it up for satellite and radar data assimilation for some of our projects.

[2015-06-03 11:41] benfitzpatrick commented on #1337
That's great! There's a Vagrant VM install recipe which may help at https://github.com/metomi/metomi-vms/tree/master/ubuntu-1404. It has working installations of fcm, rose, and cylc.

[2015-06-03 14:20] arjclark opened #1484 "cylc reload: higher verbosity in logs"
When carrying out a reload it can be difficult to determine what is being reloaded and when in relation to other events occurring in a suite based on the current logs.

We should look to increase the verbosity of what is recorded to make it easier to discern what's going on when trying to identify problems occurring during a reload.

[2015-06-03 15:16] kaday opened #1485 "gcylc: pause button missing when started with --hold"
Example:
[code]
`
cylc run --hold
`
Press play, this works, however you cannot hold the suite again.

[2015-06-03 15:20] kaday commented on #1485
Actually it has gone when I try to run the suite with not options.

[2015-06-03 21:21] hjoliver commented on #1485
This seems to happen only when the suite defines a final cycle point.

[2015-06-03 21:47] hjoliver commented on #1485
My fault, in 6b8296058a2c42f27e93737dcb85774b41dea037 for #1395 (after last release, fortunately).

[2015-06-04 07:36] arjclark commented on #1484
It may also be useful to have gcylc display the bouncing back and forth loading bar for while a reload is happening (as per shutting down).

[2015-06-04 11:44] hjoliver commented on #1484
@arjclark - maybe you tested this on an outdated branch?  On current master:

![reload-log](https://cloud.githubusercontent.com/assets/2362137/7983337/6f3e4274-0b13-11e5-82b5-58a35de91465.png)

![reload-progbar](https://cloud.githubusercontent.com/assets/2362137/7983342/78f49962-0b13-11e5-9d5d-9925be9794ee.png)

(I should lowercase the task reload lines though)

[2015-06-04 11:51] #1485 closed

[2015-06-04 11:58] arjclark commented on #1484
Well that's reassured me I wasn't going mad at least - was sure the gui already did that but we couldn't make it do it this morning!

I'll take a look through and check there's nothing else we wanted for the logs, but you're right already looks like what we want's there (the curse of having so many different versions on the go!).

[2015-06-04 12:44] hjoliver commented on #1484
Maybe you're even less mad than you think.  This looks suspiciously like a variant of #1485 - a final cycle point, and hence gcylc status "running to ... " and the progress bar doesn't show up.  You wanna take a look at this?

[2015-06-04 13:30] arjclark commented on #1484
Yeah, I'll have a dig and see if I can work out what's going on here.

[2015-06-05 01:33] hjoliver opened #1488 "Gsummary should use the new port scanning functionality."
From #1480  ```cylc scan``` can retrieve task state totals directly from all suite daemons on all scanned hosts, without requiring authentication.  ```cylc gsummary``` needs to be updated to use the same information.  Currently it gets task state totals from ```cylc cat-state```, which requires file access rights (we will still need this for suite stop summaries, however).

@benfitzpatrick - as th

[2015-06-05 14:13] #1484 closed

[2015-06-09 01:29] hjoliver commented on #118
Closing this - not worth the effort given that normal CLI use in a terminal achieves the same thing.

[2015-06-09 01:29] #118 closed

[2015-06-09 01:32] hjoliver opened #1490 "Task warning messages should be recorded in the suite run-db."
(currently they're not).

[2015-06-09 01:50] hjoliver opened #1491 "Task expiry times?"
An interesting idea from Milton Woods (BoM):

 We could allow tasks to have an expiry time expressed (like clock trigger times) as an offset from their own cycle point.  When a task triggers, if the difference between wall clock time and cycle point is greater than the expiry time, the task should not submit.  It would be very easy to implement this if we can just log a message and put the expired

[2015-06-09 07:30] arjclark commented on #1491
Interesting idea, it'll be how we handle downstream tasks that'll be the interesting problem. I'm not sure setting to succeeded is the correct behaviour though as the task hasn't actually succeeded, it has been bypassed/skipped, so 'expired' is preferable (though that adds another state to the system to handle).

[2015-06-09 07:45] kaday commented on #1491
Agreed, this is interesting. I agree with Andy that they should not be set to succeeded, but am not sure what they should be set to, maybe 'expired'?

[2015-06-09 07:49] arjclark commented on #1491
On further reflection, I think I'd leave them alone unless they were part of the "expire after=FOO" like settings.

[2015-06-09 07:54] arjclark commented on #1491
Just to note though, that going against adding an "expired" state is that we'd have to update all the guis, utilities etc.

[2015-06-09 08:58] matthewrmshin commented on #1490
@hjoliver I am currently in the middle of adding some new tables and doing some refactor to `cylc.rundb`. Please let me know the kind of things you would like to add.

[2015-06-09 09:51] hjoliver commented on #1490
@matthewrmshin - are you working on #864? I'll attempt to put a bit of thought into this tomorrow...

[2015-06-09 10:16] matthewrmshin commented on #1490
Not really. I am mainly working on #992 (and by extension #1052).

[2015-06-10 11:27] #42 closed

[2015-06-11 05:41] hjoliver commented on #1429
Closed by #1395 (odd, I must have posted this shortly before adding the progress bar to that branch).

[2015-06-11 05:41] #1429 closed

[2015-06-11 15:29] #1483 closed

[2015-06-12 12:29] kaday opened #1498 "cylc validate: no task in runtime bad error"
Bad failure error:
`
[FAIL] not all arguments converted during string formatting
`
suite.rc
[code]

Failure should be:
`
[FAIL] WARNING: naked dummy tasks detected (no entry under [runtime]):
`
Which is what would be returned if bar was not in the runtime section.

OR
something reflecting the fact that task (foo) is not in the `graph` section. I think this would be the better place to capture the

[2015-06-12 14:44] #1498 closed

[2015-06-15 03:13] hjoliver commented on #1213
See also #1493, which solves the problem of recovery from a locked public db.

[2015-06-15 03:14] hjoliver commented on #1214
See also #1493.

[2015-06-16 13:44] matthewrmshin opened #1502 "cylc stop --kill: failure to kill jobs prevent suite shut down"
On `cylc stop --kill`, the suite will issue kill commands to active task jobs and then wait to shut down cleanly. Unfortunately, any failed kill commands (e.g. job host outage) will prevent the suite to shut down cleanly. This needs to be handled more elegantly. We may want to consider:
* Ignore failed kills and shut down any way?
* Retry kill commands with some delays?

[2015-06-16 21:36] hjoliver commented on #984
Need for truncation of "now": https://github.com/cylc/cylc/pull/1494#issuecomment-112250501

[2015-06-17 03:30] hjoliver commented on #449
Note #1501 - we'll allow defaults for particular suite items at global config level.

[2015-06-17 03:30] #449 closed

[2015-06-17 10:57] #1491 closed

[2015-06-18 09:38] matthewrmshin opened #1504 "Configurable default maximum process pool size"
Users are finding themselves starting up a suite with 64 child processes at some sites. We should put in a configurable default maximum (of 4?) for computers with more than 4 processors.

[2015-06-18 09:48] hjoliver commented on #1504
Good idea!

[2015-06-18 11:43] matthewrmshin opened #1505 "Efficient management of multiple task jobs"
The current system can be quite inefficient (to system resources) for managing task jobs. E.g. an operation to poll or kill all task jobs can create a system load storm due to multiple SSH + batch system calls.

We can probably group job submits (or poll or kill) for each (host, batch system), so that we can issue a single SSH command (and where possible a single batch system command) for each (ho

[2015-06-19 00:19] trwhitcomb opened #1508 "Cylc monitor shows different status when suite is restarted vs. run normally"
I'm used to running suites with no end time showing `R_U_N_N_I_N_G` as the suite is running in the monitor display.

However, if I shut down the suite, and then use `cylc restart` to get it going again, the monitor shows `S_T_O_P_P_I_N_G__A_T__None` rather than a running state.  Everything appears to be fine, but this display isn't what I expect.  Looking at the logic, I'm not sure how this happen

[2015-06-19 00:27] hjoliver commented on #1508
Yeah, I've noticed this several times myself, then forgotten about it (an equal number of times, evidently!).

Reproduced on current master.  It also affects the GUI ("running to None" in the status bar).

[2015-06-19 02:59] hjoliver opened #1510 "Creation of zombie (defunct) processes by background jobs."
Batch scheduler job submission commands tell the batch server (PBS or whatever) to queue a job, then they detach immediately.  To submit such a job in cylc, a process pool worker runs the submission command in a subprocess and then calls ```proc.wait()``` (or ```proc.communicate()```) which blocks until the job submission command completes and then collects its exits status and output - thus preve

[2015-06-19 03:12] hjoliver commented on #1510
Here's suite that demonstrates the problem. The clock trigger stalls the suite with one succeeded task that can't be removed yet.
[code]
Result with process pool size 1:

![zombie1](https://cloud.githubusercontent.com/assets/2362137/8246596/6c546e34-1695-11e5-9638-32249f93e505.png)
![zombie2](https://cloud.githubusercontent.com/assets/2362137/8246599/70c907ae-1695-11e5-874d-d38a40248fd2.png)

If I

[2015-06-19 06:59] benfitzpatrick commented on #1510
I like 3), if we can figure it out. zombies **α** bigger pool size would explain why @trwhitcomb saw so many

[2015-06-19 09:19] matthewrmshin commented on #1510
I had previously discussed this with @dpmatthews but never got round to raise an issue, but we were going to introduce a new job submission method to run the job file with something like the `nohup` or `setsid` command. This is probably not so different to point 3.

If I remember correctly, the reason why we don't detach the `background` job is to handle a requirement of some sites where users' ba

[2015-06-22 09:40] #1508 closed

[2015-06-22 11:39] matthewrmshin commented on #1510
See also #445.

[2015-06-23 12:13] benfitzpatrick commented on #1321
We should also disallow launching the "Trigger" menu items for already-running jobs (if the 'running' status is wrong, users can just poll or reset the task).

[2015-06-23 12:21] benfitzpatrick opened #1513 "cylc gui: task output: flexible fetcher"
Some batch schedulers (like PBS) hang on to standard output and error streams until the job is finished. This means that a user can't view running task output in `cylc gui` via the normal 'ssh machine cat $HOME/cylc-run/.........../job.out' dialog process. However, there can be custom ways to dig the information out of the scheduler or filesystem.

It would be good if we were able to react to cert

[2015-06-23 13:14] matthewrmshin commented on #1321
Or at least we should make it a lot more difficult to do than now.

[2015-06-23 21:10] hjoliver opened #1514 "Poll tasks when "allow resurrection" is True."
From Milton Woods (BoM):

[2015-06-24 05:54] matthewrmshin commented on #1514
This is a particular problem for us as well. There are several related problems.
* Retry is not handled.
* PBS may hang on to a job for a while after a normal kill, so a poll may not tell the full story.

[2015-06-24 11:08] #1504 closed

[2015-06-24 15:37] matthewrmshin commented on #1514
If a task job receives a signal, we need to ensure that:
* It is not killed by the user via the suite.
* It has fully exited the batch system.

Retry and dependency on failed status can only be triggered if there is no job associated with the task in the batch system. A poll with some delay can probably determine what is happening:
* Job is in batch system and is in queue or running state, then it

[2015-06-25 06:50] hjoliver commented on #1488
[update: now on #1480 scan only reports state-totals if publicly available on a per-suite basis (or if you have the passphrases).  Gsummary should probably do the same, even if states are available via the filesystem, so that private suites are kept private.]

[2015-06-25 08:11] benfitzpatrick opened #1517 "cylc gui: re-colour newly-unfiltered tasks in graph view"
When a `cylc gui` graph view filter is undone, the newly appeared tasks can be added in an uncoloured 'base node' state. At the next change in state, they will be correctly adjusted.

[2015-06-25 14:46] matthewrmshin opened #1519 "cylc.rundb: new table for current broadcasts settings"
The `broadcasts` table added in #1493 records all broadcast events. Although it is possible to use it to determine the current broadcast settings, it is not the easiest thing to do. We should probably rename the table as `broadcast_events` and add a new table called `broadcast_states` for the current broadcast settings (c.f. `task_events` and `task_states`).

[2015-06-25 21:56] hjoliver opened #1520 "#1475 user auth (step 2 extended) - user privilege groups"
#1480 distinguishes between two user types: "authenticated" (with passphrase) and "public" (no passphrase).  Global/suite config can set the privilege level for public users, and authenticated users get full control privileges.  Public read-only is now an option, but is probably not advisable at a large site because of the potential for hammering suite daemons with GUI info requests.

The new conn

[2015-06-25 21:57] hjoliver commented on #1520
(@cylc/core - let me know if you agree with this; I won't do anything with it till then)

[2015-06-25 23:14] hjoliver commented on #1510
That's right.

Agreed.  We could reverse this.  The 'at' scheduler is almost universally available as an alternative anyway.

[2015-06-25 23:17] hjoliver commented on #1519
Sounds good.   (But do you have any use-case in mind, for needing to get current broadcast settings other than via the suite daemon?)

[2015-06-25 23:19] hjoliver commented on #1505
Excellent idea.

[2015-06-26 00:56] hjoliver commented on #1488
For this issue, we should add a new scan option, e.g. ```cylc scan --raw```, to print all scan information in an easy-to-parse format.

[2015-06-26 00:58] hjoliver commented on #1488
After this, gsummary will be essentially a nice scan GUI - so can we change (or deprecate, or at least alias) the command name from ```cylc gsummary``` to ```cylc gscan```?

[2015-06-26 01:00] hjoliver commented on #578
Update: #1480 achieves this.

[2015-06-26 09:15] matthewrmshin commented on #1488
Sounds good. (It can even be `cylc scan --gui`.)

[2015-06-26 09:19] matthewrmshin commented on #1519
Nothing immediate. However, we can potentially do the following:
* On restart, load broadcasts from suite run time database, instead of from pickle in state file.
* Display current broadcasts in Rose Bush (or its successor).

[2015-06-26 09:32] matthewrmshin commented on #1510
Yes, I think a `background` job should normally detach. (The easiest way to implement is to invoke the job script with `nohup`.) We can perhaps support a non-detach mode as well - suitable for jobs that return instantaneously or for jobs that can hang (e.g. an install task that the whole suite depends on).

[2015-06-26 14:34] matthewrmshin commented on #1520
(Thinking about this right now.)

[2015-06-28 21:23] hjoliver opened #1522 "Require matching client-server cylc versions."
From an email exchange between @matthewrmshin and myself:

[2015-06-28 21:29] hjoliver commented on #1522
(note we had an unsophisticated version of this back at cylc-4, which I called "pseudo backward compatibility": a required version had to be specified in a comment at the top of the suite definition, and commands would re-invoke themselves at that version).

[2015-06-29 06:25] hjoliver commented on #1520
A use for this that I hadn't thought of - until #164 is done only the suite owner should be able to use the gcylc graph view (although this could be hardwired, without any additional global or suite config).

[2015-06-29 08:37] matthewrmshin commented on #1522
It doesn't sound too unsophisticated. Perl, package managers, etc all have something similar (although they tend to fail if they cannot find the matching versions.)

[2015-06-30 19:59] matthewrmshin commented on #1520
As an interim solution, this is probably OK, (but it does remind me of the old `rsh` and its `.rhosts` file). Eventually, we should move towards a security token system or a public-private key system for access control.

[2015-06-30 21:25] hjoliver commented on #1520
Agreed; it's definitely just an interim solution.  It'll quickly give us the ability to assign non-global read-only access to suites.

[2015-06-30 21:26] hjoliver commented on #1475
See https://github.com/cylc/cylc/issues/1520#issuecomment-117321914

[2015-07-01 01:24] hjoliver opened #1523 ""start with succeeded" special tasks?"
This is a user request.  An R1 build task takes some time to run.  During suite development it is often convenient to exclude the task at suite start-up, because the build already completed in a previous run.  The current `[special tasks]exclude at start-up` can be used to exclude the build task from the task pool, but then any tasks that depend on the build have to be triggered manually to get th

[2015-07-01 01:26] hjoliver commented on #1523
Starting a suite with --hold and then manually setting the build task to succeeded is another option that works already, but again, that's arguably an advanced maneuver.  The suite in question is being designed with a Rose interface for non-experts, including a "switch the build off" button.

[2015-07-01 08:29] matthewrmshin commented on #1523
I would imagine that an already completed build should be very fast to run in incremental mode?

Otherwise, the `switch the build off` button can probably alter the behaviour of the suite, like so:

[code]

[2015-07-01 11:27] hjoliver commented on #1523
@matthewrmshin - sorry, in a misguided effort to simplify the problem description as much as possible I was a little fast and loose with the term "build" (and "task")!   It is actually several non-FCM non-Rose-app tasks that extract a bunch of stuff from a bunch of small git repositories, invoking their native systems if necessary, and then installing the extracted and/or built files into the suit

[2015-07-01 11:43] matthewrmshin commented on #1523
OK. I can see what is being proposed here now. In a way, I guess this is suggesting that we have some kind of an incremental mode at the suite-task level. (Skip if target exists and up to date.)

Yes and no. The problem is very similar to a retry of a command that supports incremental mode, e.g. a task to archive 10 big files may require a lot more resources the 1st time round, but on retry, it ma

[2015-07-01 12:02] hjoliver commented on #1523
That's an interesting way of looking at it, that I hadn't thought of.  Ah, but isn't that pretty much exactly what a restart is?  Come to think of it, couldn't my user just do a restart here?! (that question is directed at myself).  I guess during suite development it can be useful to do a lot of repeated cold-starts.

[2015-07-01 12:47] benfitzpatrick commented on #1523
I don't like the special tasks section!

How about a `--state` option to cylc run:
[code]
as a kind of form of almost-restart. That way, we don't have to invent new Jinja2 or edit-in-and-out a special tasks entry.

[2015-07-01 13:13] matthewrmshin commented on #1523
Yes, although I'd imagine that it is probably a bit more like a restart +reload + resetting the state of some tasks - we are only interested in re-running any tasks that require re-running (e.g. re-build something if the source has changed, re-run a task (and any downstream tasks) if its configurations are modified, etc).

[2015-07-01 22:49] hjoliver commented on #1523
To answer my own question, I think the typical use case for this - unlike a restart from previous state - is during suite development to start again from scratch but without re-running some long-running start-up tasks (typically build/install type tasks that don't have an incremental mode).

[2015-07-01 23:02] hjoliver commented on #1523
@benfitzpatrick - I know what you mean, and I like your suggestion, but the CLI option is harder to use repeatedly, particularly if many tasks are affected (and if the suite is run from a Rose config interface).   Maybe we need to support both options, and at the same time make a CLI analogue of the existing similar special task options, ```exclude at start-up``` and ```include at start-up```?

[2015-07-02 03:58] hjoliver opened #1524 "Family timing information."
Another user request:

I'm not sure this would be very useful at whole-cycle level, but it would be good for task families.

[2015-07-02 08:45] matthewrmshin commented on #1524
Timing and other metrics can be very useful for questions such as:
* What are the total and elapsed times consumed by a cycle?
  * ... for jobs submitted to a given batch system?
* And for other resources, if they are collectable.

[2015-07-03 08:35] kaday opened #1525 "gcylc: in graph mode CPU rockets"
The CPU load increases from ~7 to 50-100% when a very large suite the gcylc graph mode is opened.

Investigated using a Ensemble4DVar 44 members suite in simulation mode.

[2015-07-03 08:35] kaday commented on #1525
Also see #164.

[2015-07-03 10:27] benfitzpatrick opened #1526 "cylc graph, gui: suicide-trig families can't be collapsed"
Suicide-triggered families don't show up as collapsed (and can't be collapsed)
any more in `cylc gui` and `cylc graph`.

For example, the following suite:
[code]
will only ever show `foo`, `bar1`, `bar2`, and `bar3` in `cylc graph`.

[2015-07-06 14:49] arjclark opened #1528 "suite.rc: add suite level events"
#1503 adds in task runtime entries for [[[events]]] such as mail.

We should replicate this functionality for the suite level settings as well.

[2015-07-07 07:44] arjclark opened #1529 "siterc: allow setting of [runtime][TASK][event hooks] and [events]"
Follow on from #1503. Apply #1501 ability to set defaults for hooks at task runtime event hooks/events options.

[2015-07-07 07:48] #181 closed

[2015-07-08 03:02] #1525 closed

[2015-07-08 07:37] benfitzpatrick opened #1531 "cylc user guide: more advanced cycling info"
We could do with more information about advanced cycling features such as:
 * min(...)
 * truncation syntax (e.g. `T-00` for `start at the next 00 minutes`)

and anything else that comes to mind.

[2015-07-08 10:05] hjoliver commented on #1524
This isn't trivial as task families are virtual - currently we don't actually know when a family is finished, because family syntax is expanded in terms of member tasks when the suite is parsed.

[2015-07-08 13:55] #1502 closed

[2015-07-10 04:06] hjoliver commented on #1519
(note you have not assigned this for review yet... just checking that is intentional)

[2015-07-10 04:07] hjoliver commented on #1519
(re deleted comment - thought I was on the associated pull request page :grimacing: )

[2015-07-10 09:27] matthewrmshin commented on #1113
(This would have been useful while we are introducing new site/user global configuration.)

[2015-07-10 10:53] hjoliver commented on #1113
(It would be useful here too - I could make it my top priority once current pull requests done with).

[2015-07-10 11:58] matthewrmshin commented on #802
@arjclark Can we close this?

[2015-07-10 12:04] matthewrmshin commented on #994
#1159 supersedes this, so I'll close this down as a duplicate.

[2015-07-10 12:04] #994 closed

[2015-07-10 12:08] matthewrmshin commented on #1159
In the latest version of `rose_prune`, we have removed any Rose specific functionality, so it is safe to say that we can migrate all its functionality across. (This is as long as we are able to provide a compatibility layer that is transparent to users. I'll follow up on this soon.)

[2015-07-10 13:36] #1526 closed

[2015-07-10 14:11] matthewrmshin commented on #1159
A quick brain dump...

It should be relatively straightforward to move job logs housekeep
functionality to cylc from `rose_prune`, which does the following:
* Re-rsync and then delete job logs on remote job hosts.
* Tar-gzip job logs.
* Remove job logs.
* Record location of job log files in a searchable database.
  * Original location.
  * Tar-gzip file.
  * Gone.

In cylc, we can do:
* Housekeep

[2015-07-13 08:07] arjclark commented on #802
Yeah, now superseded by #1529

[2015-07-13 08:07] #802 closed

[2015-07-13 08:08] arjclark commented on #802
And by #1528

[2015-07-14 09:02] #1519 closed

[2015-07-15 13:35] benfitzpatrick commented on #960
Something like `cylc trigger --state=failed --state=submit-failed SUITE MATCH`?

[2015-07-15 14:06] benfitzpatrick commented on #960
Might as well have a similar option for `cylc reset`, etc.

[2015-07-15 14:09] benfitzpatrick opened #1536 "cylc gui: text/tree view: multiple line select and right-click menu"
We should be able to select multiple lines in the tree view at once and launch a shared right click menu to e.g. trigger all tasks.

[2015-07-15 14:30] matthewrmshin commented on #960
Unfortunately, `cylc reset` already has a `--state=STATE` option to set the state! Should we have an interface that is more generic? E.g.:

[code]

Where the general syntax for an identifier is `NAME.POINT:STATE`. Each component can be missing (as long as it is not ambiguous) or written as a glob pattern. E.g.:
* `cylc trigger REG :failed :submit-failed` to re-trigger all failed and submit-failed

[2015-07-17 01:06] hjoliver opened #1538 "Allowing cycling tasks to run out of order."
In a cycling suite, task proxies spawn their next instance (at the next cycle point) when they enter the 'submit' state, so even if a task fails its successor will still be ready for action.    However, the successors of any tasks downstream of the failed one will not be available, because the instance that depends on the failed task will not trigger, and thus will not spawn.

E.g. consider a cloc

[2015-07-17 11:09] arjclark opened #1539 "cylc broadcast during dumping can bring down a suite"
New problem seen today in our parallel suite.

It appears that while pickle dumping of the broadcast setting was occurring, a broadcast was actioned leading to an exception being thrown and the suite shutting down:

suite out:
[code]
suite log:
[code]
suite err:
[code]

@benfitzpatrick found the following relevant posting via a quick google search:

http://bytes.com/topic/python/answers/467108-run

[2015-07-17 12:20] benfitzpatrick commented on #1538
I have been thinking for a while that the 'active cycle points' tracking should be the generator of tasks, not the submit-successor mechanism. The change in behaviour would break some suites though, I think - those that implicitly rely on `foo[-PT6H]:submit => foo`.

[2015-07-17 14:28] arjclark commented on #1538
Agreed, that one's bound to catch people out.

[2015-07-17 14:34] arjclark commented on #1539
I have noted that chunks of this code have been relocated since 6.4.0 so may be even harder to reproduce (am yet to be able to do so myself)

[2015-07-19 07:53] hjoliver commented on #960
That seems a good idea.

[2015-07-20 21:45] hjoliver commented on #1538
Spawn-on-submit is often relied on at start-up too, e.g.:
[code]
Here, we only need the first instance of ```foo``` to depend on ```install```, because the second instance won't be created until the first submits, after ```install``` has finished.  Without the slightly delayed spawning (or some new mechanism with a similar effect) we'd need an artificial inter-cycle dependence on ```foo```, or els

[2015-07-21 00:45] hjoliver opened #1540 "Pre-initial dependence problem in warm starts."
[code]
After a cold start, every instance of ```foo``` depends on ```start[2015]```.   After a warm start at a later cycle, that dependence gets ignored forever because it is wiped out by our pre-initial-dependence handling.

[2015-07-21 01:05] hjoliver commented on #1540
(slightly off topic, but related)

Ignoring pre-initial dependence is really just a trick to allow suite writers to be lazy in their thinking about suite start-up.   This suite would stall at start-up if we did not ignore ```foo[2014]```:
[code]
Since cylc-6 though, we have the ability to handle any start-up scenario correctly without ignoring pre-initial dependence:
[code]

IMO we should **deprec

[2015-07-21 01:12] hjoliver commented on #1540
Back to warm starts.  It seems to me we have to either:
 * insert pre-warm-start tasks in the 'held' state as suggested above, or
 * further complicate pre-initial handling by distinguishing between cold and warm starts, and temporary (e.g. ```foo[-P1Y] => foo```) and permanent (e.g. ```start[^] => foo```) pre-initial dependence ... and still insert the permanent ones as held or succeeded in warm

[2015-07-21 01:20] hjoliver commented on #1540
BTW a warm start is technically a restart without reference to a prior state, so really the correct way to handle it is not to assume anything about what happened prior to the warm start - i.e. put prior tasks - that are depended on by new tasks - in in the `held` state and let the operator say what should happen.

[2015-07-21 01:53] hjoliver commented on #1540
Interestingly the gcylc graph view doesn't behave properly either, for a warm start with `start[^] => foo` - a `start` base node appears, but for the wrong cycle point, and its cycle point changes as the suite evolves.

[2015-07-21 10:43] matthewrmshin commented on #1538
I also believe that this is the most important point here. The task pool should be responsible to generate new task proxies.

[2015-07-21 11:15] matthewrmshin commented on #1513
(The main complication here is that the current logic is dependent on the task job host only, but really we need a logic that is based on the state of the task + the task job host + the batch system + anything local to the site in order to make a judgement on whether `cat` is sufficient or not.)

Do we need something similar for `cylc cat-log` as well?

[2015-07-21 23:28] hjoliver commented on #1538
(Historical reason for "spawn on submit": in the early days I thought different task proxy sub-classes might need different spawning behaviour.  E.g. "sequential" tasks were originally implemented by "spawn on succeed")

[2015-07-22 01:04] hjoliver opened #1544 "Relitigate ignoring of pre-initial dependence."
(This arose as a side-issue of #1540 which argues against pre-initial-ignore specifically in warm starts).

Ignoring pre-initial dependence was invented as a workaround for a deficiency of cylc-5 that no longer exists.  E.g. this suite would stall at start-up if we did not ignore `foo[2014]` (and if we didn't use old-style *cold-start tasks* and a conditional trigger):
[code]
Since cylc-6 though,

[2015-07-22 01:05] hjoliver commented on #1540
[NOTE - I have move comments on ignoring pre-initial tasks to #1544 and edited them out of this issue]

[2015-07-22 01:35] hjoliver commented on #1544
After some more thought on this, I think the default behaviour should be just like a warm-start (according to #1540 that is): at start-up, any pre-initial dependence should be retained and the pre-initial tasks should be inserted in the 'held' state.  Such a suite will stall at start-up, but the reason why will now be very obvious: the initial tasks depend on pre-initial tasks, and something needs

[2015-07-22 01:50] hjoliver commented on #1540
Another unfortunate side-effect of our pre-initial handling in warm starts:
[code]
(i.e. an initial R1 family with internal dependencies).

After a warm start I need to rebuild a model used by the running suite.  I should be able to insert INSTALL again and trigger it, BUT our pre-initial handling at warm start also wipes out the internal dependencies among the INSTALL family members.

[2015-07-22 02:44] hjoliver commented on #1544
Finally, as an alternative to setting pre-initial tasks to 'held' in option 2 above, we could have a new task state for that purpose.

[2015-07-22 16:03] benfitzpatrick opened #1546 "cylc gui: graph view: removed task can't be filtered"
In the `cylc gui` graph view, if a task node is right-click-menu removed (with/without spawning),
it then doesn't obey filtering out by name (i.e. it always appears).

[2015-07-23 01:47] hjoliver commented on #1538
Even if no failure occurs, spawn-on-submit means that task X[T2] cannot run before X[T1] where T2 > T1 even X[T2]'s prerequisites are satisfied before then.  This sort of scenario is unlikely to occur normally, but it's possible.

So, yes, I agree with this.

[2015-07-23 11:19] hjoliver opened #1547 "Misleading error for message trigger with no offset placeholder."
Output messages used for message triggers are supposed to contain a placeholder for cycle point, e.g.:
[code]
[Aside: this is required to distinguish messages from different instances of `foo` - otherwise multiple instances of `bar` could trigger off the same `foo`.  In principle this shouldn't  be necessary as cylc knows which instance emitted a message, but we don't yet use all the information t

[2015-07-24 00:38] hjoliver opened #1549 "Task polling should update message outputs."
Follows on from #522.  Message outputs are now written to job status files, but polling does not report them.  Once it does, polling an orphaned task at restart will update its individual message outputs.  Tasks should also be polled if they have any unreported outputs when they succeed, in case the output messages failed to get through.

[2015-07-24 00:50] hjoliver opened #1550 "Allow state reset of individual message outputs."
As argued in #1551, we should not assume that all message outputs need to be completed when a task finishes.  Therefore we need to able to manually reset the state (completed or not) of  individual message triggers, not just just force them all to completed when the task state is reset to succeeded.

[2015-07-24 04:28] hjoliver opened #1552 "Review handling of out-of-order task state and/or output changes?"
Historically, `task_proxy.py` did some checking that changes of task state and/or related task outputs are valid, and sometimes disallowed them (e.g. [A] if a 'started' message comes in from a supposedly finished task) or assumed something (e.g. [B] if a 'succeeded' message comes in from a task that has not reported job submission, the 'submitted' output would be completed automatically).  I'm not

[2015-07-24 08:44] matthewrmshin commented on #1550
I guess the task state in our current logic should really be only be considered as a summary of the furthest point reached by the task. Perhaps we can represent the full picture by a dict with keys being the names of available states and outputs and values being timestamps when the states are done, like this?

[code]

[2015-07-24 08:47] #1517 closed

[2015-07-27 02:05] hjoliver commented on #1522
I suppose this should be achieved via info stored in the suite run directory, so that by default the cylc version remains the same even after a shutdown.

@matthewrmshin - `rose suite-run` already does this for cylc via `log/rose-suite-run.conf`, but there's nothing to stop users from running `cylc restart` on a Rose-cylc suite, in which case the cylc version recorded by `rose suite-run` can diffe

[2015-07-27 08:11] matthewrmshin commented on #1522
Yes, this is one of the functionalities to migrate.

[2015-07-27 10:40] #1449 closed

[2015-07-27 14:27] benfitzpatrick opened #1554 "cylc global config: bad configs are silently ignored"
If I add something invalid like this to my `~/.cylc/global.rc`:
[code]
then my whole user config is silently ignored. The same happens for site configs.

It should probably just fall over with a 'bad user' error.

[2015-07-27 21:02] hjoliver commented on #1550
That seems a good idea.

[2015-07-27 21:08] hjoliver commented on #1554
Yeah, that's a long-standing problem.  A warning is given in verbose mode:
[code]

The reason for this was that a bad site config file should not prevent users from running their suites because they can't do anything about it.  However, the same logic should not apply to the user file.  (Maybe it shouldn't for site either?)

[2015-07-28 00:08] #1539 closed

[2015-07-28 07:23] #1470 closed

[2015-07-28 12:29] #294 closed

[2015-07-28 21:24] hjoliver commented on #1550
Note https://github.com/cylc/cylc/pull/1551#issuecomment-124285305

[2015-07-28 21:25] hjoliver commented on #1549
Note https://github.com/cylc/cylc/pull/1551#issuecomment-124285305

[2015-07-30 20:42] hjoliver opened #1560 "Better batch system directives configuration."
The current `suite.rc` spec doesn't make it easy to switch between different batch systems, because there is only one `directives` section, which is unlikely to be portable between different job submission methods:

[code]

It would be better to have something like this:

[code]

[2015-07-30 21:04] hjoliver commented on #1472
(this is fixed, but for the record, for those still running 6.4.1):

This doesn't apply to killing tasks in the `submitted` state - they get "job kill failed" and stay `submitted`.

[2015-07-30 21:22] matthewrmshin commented on #1560
(@dpmatthews and I discussed something like this a few weeks ago, but you have beaten us to raise an issue!)

Is this a desire to allow a suite to be portable to different batch systems within a site, or is it to allow a suite to be portable to different sites? The proposed solution will work for the former, but will not be enough for the latter because:
* Job hosts, environment and/or scripts on

[2015-07-30 21:59] hjoliver commented on #1560
I was thinking within a site, if you happen to have access to several batch schedulers.  However, if we can think of a solution that would make it easier to switch between sites, that would be great.  I guess that currently requires heavy use of Jinja2 switching and probably include-files.

Maybe we really need something like this?:
[code]

That would be a difficult backward compatibility problem,

[2015-07-31 02:02] hjoliver opened #1561 "Unhelpful error message for visualization config."
This:
[code]
results in this:
[code]

[2015-07-31 02:17] hjoliver opened #1562 "Unhelpful graph error message."
We don't allow triggering off a suicide event (`!foo => bar`), but the error message is:
[code]

[2015-07-31 08:13] matthewrmshin commented on #1560
We can continue to support the current interface like this:

[code]

[2015-07-31 08:38] #577 closed

[2015-07-31 08:38] #578 closed

[2015-08-03 10:33] kaday opened #1564 "gcylc/gsummary: KeyError point_string"
![screenshot_keyerror_pointstring](https://cloud.githubusercontent.com/assets/1138333/9056923/3244396e-3a8e-11e5-87d8-5d31cc01deaf.png)

Error reported:
"opened cylc gsummary and this popped up when I clicked to open the" suite.

[2015-08-04 08:12] benfitzpatrick commented on #1564
![screenshot_removed_task_then_reloaded](https://cloud.githubusercontent.com/assets/1138333/9056158/e5eaa562-3a88-11e5-9afb-5c1060dc5686.png)

I got a similar error by having gcylc open in tree view showing all my tasks, removing a task from the suite.rc, and reloading.

[2015-08-05 14:40] benfitzpatrick opened #1566 "cylc gui: separator between 'poll' and 'kill'"
We should have more of a separation between 'Poll' and 'Kill' in the task
right-click menu.

[2015-08-10 01:25] hjoliver opened #1569 "gcylc - hold button doesn't change during a long reload?"
Reported by a user: if a suite reload is yet to complete because some tasks are running, clicking on the "hold" button in the GUI does cause the suite to hold, but the button doesn't change to the "play/release" state.

[2015-08-10 08:51] #1529 closed

[2015-08-10 09:24] matthewrmshin commented on #1566
Is this a case for a confirmation prompt before a kill?

[2015-08-10 11:34] benfitzpatrick opened #1571 "cylc test-battery: refactor restart tests"
These are pretty flakey and tend to fail a fair amount (my bad!).

We should refactor them so that they are more stable.

[2015-08-11 04:28] hjoliver commented on #1566
Is the reason for this issue that users are accidentally killing tasks?   Poll and Kill were grouped together because unlike other commands/menu-items they act on real task jobs rather than just manipulating suite daemon state in some way.

[2015-08-11 13:58] #1554 closed

[2015-08-12 18:52] trwhitcomb commented on #1196
Another option for prioritization would be to preferentially execute earlier cycle points in order to avoid runahead snags (where one or two tasks still haven't executed in an earlier cycle point and greatly slows down the suite).  Order of insertion doesn't help in this case, because if several cycle points are running at once, insertion order would be interleaved.  Setting the `sequential` attri

[2015-08-13 16:01] benfitzpatrick opened #1573 "cylc syntax highlighting: support multiline Jinja2"
It would be nice if all the syntax highlighting configurations supported multiline Jinja2 - e.g. support:
[code]

[2015-08-14 22:17] trwhitcomb commented on #1560
With the new parsing that came online a while back allowing suite.rc snippets, there's a really (I think) clean solution to this by refactoring out the specific platform specific information into a separate file.  I've been using this to move between systems and it's worked well.  Here's what I did:

1. Define the suite as normal
2. Then, remove the [[[job submission]]] blocks out to a separate fi

[2015-08-14 23:03] #1562 closed

[2015-08-17 21:19] hjoliver commented on #1573
@benfitzpatrick - it works in Vim (however, I may be using an improved vim syntax file that I've never pushed to the repostory, will check soon...)

[2015-08-18 11:49] hjoliver commented on #1538
Some more historical context for spawn-on-submit (just reminding myself).  Prior to cylc-3 there was no suite definition, just a collection of "task definitions" which were templates for task proxy objects that self-organize by matching prerequisites and outputs.  Task proxies knew their own prerequisites and outputs (etc.), *and their own cycling sequences* (e.g. I should run at 06 and 18 hours d

[2015-08-18 11:54] arjclark commented on #1538
Potentially this could relate to the priority with which things get processed in #1196...

[2015-08-20 01:18] hjoliver opened #1576 "gcylc - connection polling should reset after any user activity"
If a gcylc instance has reduced connection polling (suite was down for a while), then the suite is restarted from the CLI (say), then changing views etc. (even running commands such as 'nudge' from the GUI) does not result in suite data reappearing.

[2015-08-20 07:54] arjclark commented on #1576
@matthewrmshin - could this be what Howard was reporting?

[2015-08-20 11:05] matthewrmshin commented on #1576
Clicking on `View > Reset Connection Polling` works?

[2015-08-20 14:21] benfitzpatrick opened #1577 "cylc trigger: report error if task is missing from task pool"
No error is reported when triggering a task that's been removed from the task pool (e.g. if it had succeeded and been cleanup-cutoff'ed).

[2015-08-20 14:22] benfitzpatrick commented on #1577
For example, this suite:

[code]

will only run `foo.1` once, not twice.

[2015-08-20 15:41] matthewrmshin opened #1578 "cylc 6.6.0 suite logs can get swarmed by old-client messages"
If you run a cylc 6.6.0 suite on a machine with other users running an older version of `cylc scan`, your log can be swarmed by large number of warning messages.

I believe the message is being logged by:
https://github.com/cylc/cylc/blob/master/lib/cylc/network/connection_validator.py#L87

[2015-08-21 06:36] hjoliver commented on #1578
That's probably due to multiple connection attempts, when the user has a lot of registered suites (each passphrase is tried).  What do you want to do about this - only log rejected connections in debug mode?

[2015-08-21 06:38] hjoliver commented on #1577
Probably the same for other commands too, if targeting a non-existent task proxy (should check at least).

[2015-08-21 08:53] matthewrmshin commented on #1578
I suppose we should at least do that for connection with the old clients, (even though the access denied information may be useful for monitoring purpose).

Are we less likely to see this kind of messages when users scan with the new client?

[2015-08-21 10:51] arjclark commented on #1577
You may want to see what I documented for the communications API for things that weren't returning anything to try identify other similarly affected commands (bit out of date now)

[2015-08-21 11:21] hjoliver commented on #1576
That works, but it has to occur to the user that the GUI "isn't working" because the connection polling has slowed up after a period of inactivity.  This even catches me out sometimes.   If the user starts messing with view settings, I think we could take that as indicator to reset the connection polling.  If the suite really isn't running, polling will settle down again soon enough.

[2015-08-21 11:45] matthewrmshin commented on #1576
Perhaps it is worth making `View > Reset Connection Polling` (and the next poll time) more visible? (A countdown to the next poll?)

[2015-08-21 11:47] hjoliver commented on #1576
That's not a bad idea.

[2015-08-21 11:56] hjoliver commented on #1578
New scan clients never get denied, because scan info is freely available by the new connection validation method.

Old scan clients only know the old method.  They first try it with no passphrase (a pointless historical anachronism dating back to when it was possible to get full control with no passphrase) - DENIED; then they try it repeatedly with each passphrase that they can lay hands on - whic

[2015-08-21 11:56] benfitzpatrick commented on #1576
:+1:

[2015-08-21 11:58] hjoliver commented on #1578
So yes, an old scan client run by a user with a lot of passphrases registered will generate a lot of DENIED messages.

[2015-08-21 12:02] hjoliver commented on #1578
I'll take a look on Monday, to see if we can distinguish old scan clients from other types of denied connection.

[2015-08-21 12:03] matthewrmshin commented on #1578
Thanks!

[2015-08-21 13:37] benfitzpatrick opened #1580 "task_proxy: don't try to submit after shutdown"
A task can sometimes try to submit itself well after a clean suite shutdown has been requested.

The following suite.rc:
[code]
can result in `foo` incrementing its submit number and attempting to jump into the pool:

[code]
(goes on to shutdown).

[2015-08-21 19:15] matthewrmshin commented on #1238
The syntax discussed in https://github.com/cylc/cylc/issues/960#issuecomment-121634220 is related.

[2015-08-24 13:30] benfitzpatrick commented on #1566
Yes, and I've just done it myself!

[2015-08-26 06:14] MartinDix opened #1582 "Problem with ssh messaging"
We use ssh to communicate from the supercomputer back to the server.

With 6.4.1 everything worked fine. In this version `send` in `task_messaging.py` has essentially
[code]

so the pyro part doesn't get called. We don't have Pyro installed on the supercomputer.

With 6.5.0 (same in 6.6.0), this changed to
[code]

However the new `_send_by_ssh` function doesn't return a value so the test will alwa

[2015-08-26 07:16] arjclark commented on #1564
Encountered again as:

[code]
(I have a screenshot in an email but for whatever reason can't get that to move into here, screenshot it myself or copy it into any form of graphics package...)

[2015-08-26 08:36] matthewrmshin commented on #1564
Can we check that it is fixed on master or not, please?

[2015-08-26 08:36] hjoliver commented on #1582
Hi Martin,

Sorry about this - the error must have slipped through our code review
process!   It probably went unnoticed because ssh messaging is not used at
NIWA or Met Office (I think), where all of our automated testing is done.

Anyhow, I'll make sure that we have a test suite to ensure that ssh
messaging remains unbroken in the future (it was originally difficult to do
this at a Pyro site, bu

[2015-08-26 08:43] hjoliver commented on #1582
@MartinDix - perhaps you'd like to follow cylc development more closely, keep your clone up to date, and run the test battery at your site?   At the least, before making a new release we could potentially get confirmation that the test battery passes at your site too.

[2015-08-26 08:44] hjoliver commented on #1582
(or @matthewrmshin will, I see he's self-assigned this already!)

[2015-08-26 09:14] arjclark commented on #1564
@matthewrmshin - the steps in the code that lead to the original error being thrown have not changed.

[2015-08-26 23:55] #1582 closed

[2015-08-28 12:03] arjclark opened #1585 "cylc dependencies: report prerequisites that cannot be met"
Recently we've seen a number of situations where combinations of suite changes with warm starts and restarts have meant that suites have stalled due to prerequisites that cannot be met given the contents of the task pool i.e. missing tasks.

It would be useful to be able to highlight these dependencies in some way.

One suggestion, based on a user request, would be to have a command line tool that

[2015-08-28 13:08] matthewrmshin commented on #1585
A distant relative to this issue is #1286.

[2015-08-28 13:14] arjclark commented on #1585
Of relevence, looks like Hilary suggested something similar in https://github.com/cylc/cylc/issues/1286#issuecomment-70734218 on that thread:

[2015-08-28 13:14] arjclark commented on #1585
I'll look into this on my return from holiday.

[2015-08-28 13:20] arjclark opened #1587 "record warm start times for restarts"
It would potentially be quite useful for restarts to have knowledge of prior warm start cycle points.

This would address the problem of restarting following a warm start when not all the tasks in a suite have cycled. In that situation a suite currently stalls as the restart rebuilds dependencies that the warm start had previously ignored.

Relates to #1585 and #1286

[2015-08-28 20:05] hjoliver commented on #1587
@arjclark - see #1540 and #1544.  IMO this is just another unfortunate consequence of ignoring pre-initial triggers instead of using the full power of the new graph syntax to handle suite start-up properly.

[2015-09-02 13:47] matthewrmshin opened #1588 "Configurable job log viewer command per batch system per host"
For example, PBS is configured to use a holding area for writing job out/err files while the job is running, and only copy the out/err files to the specified location when the job completes. Local system administrators have developed commands for users to retrieve and print the contents of the out/err files while the job is running. (E.g. `qcat -o|-e JOB-ID`.)

It should be possible for `cylc cat-

[2015-09-02 13:50] benfitzpatrick commented on #1588
Duplicate of #1513!

[2015-09-02 13:53] matthewrmshin commented on #1513
Superseded by #1588.

[2015-09-02 13:53] #1513 closed

[2015-09-04 03:49] hjoliver opened #1589 "Handle corrupted suite registration files."
If a suite registration file under `$HOME/.cylc/REGDB/` is corrupted (e.g. empty, instead of containing suite title and path) it can cause some things to fail. e.g.:
 * `cylc db print` will abort when it tries to print that suite - should just issue a warning and continue
 * `cylc scan` will fail badly if any old suite is running (in which case scan has to load passphrases for all registered suite

[2015-09-04 07:31] m214089 opened #1590 "Starting a fresh install gives some error messages"
Hi,
I installed 6.6.1 and started the GUI and got those error messages.
As far as I understand it is not serious, but disturbing new users.
Cheerio,
Luis

[code]

[2015-09-04 11:46] hjoliver commented on #1590
Hi Luis, I can't seem to reproduce this ... but I'll take a look at the code tomorrow (if @matthewrmshin doesn't beat me to it...)

[2015-09-07 07:10] arjclark commented on #1587
Yeah, aware of those two. It's all related in various ways...

[2015-09-07 07:44] benfitzpatrick opened #1592 "cylc cycle-point: document backslash escape of template chars"
After metomi/isodatetime#69 has been implemented and incorporated into cylc,
we should document that users will be able to use backslashes to escape interpretation
of characters like `D` in template strings.  This also applies to cycle point format specification in the suite.rc.

[2015-09-09 09:21] #1566 closed

[2015-09-09 10:26] #675 closed

[2015-09-10 01:32] #1505 closed

[2015-09-10 01:32] #1510 closed

[2015-09-10 01:32] #1549 closed

[2015-09-10 11:40] matthewrmshin commented on #1580
Looks like this is fixed by #1591.

[2015-09-10 11:40] #1580 closed

[2015-09-11 03:51] hjoliver opened #1600 "Triggering off short-lived task states."
Currently, in the following suite task `bar` triggers when `foo` finally enters the failed state after 3 retries, rather than immediately after `foo` first triggers:
[code]

It works correctly if a short sleep is added to the task scripting before `exit 1`.

[2015-09-11 11:39] arjclark opened #1601 "cycling syntax: support for cycling between specified dates/offsets from ICP"
It would be useful if we could write recurrences along the lines of "repeat 6 hourly from the initial cycle point up to 30hrs after that".

To achieve that we can currently write:

[code]

But it feels like I should be able to do something like:

[code]

Similarly, it would be useful to be able to do specific repetitions between two specific dates:

[code]

[2015-09-11 11:41] arjclark commented on #1601
Comments from @benfitzpatrick via email:

No, there isn't - but it would be nice:
[code]
would be OK if it worked (^ meaning initial cycle point, otherwise final cycle point would be used).

This:
[code]
isn't really supported (there is an ISO 8601 recurrence form that kind of does this, but it isn't implemented right)

[2015-09-11 11:43] benfitzpatrick commented on #1601
Second comment references metomi/isodatetime#45

[2015-09-14 07:55] arjclark commented on #1564
Confirmed as still a problem in 6.6.1 with this error report:
[code]

[2015-09-14 13:36] arjclark commented on #1587
Waiting on #1570 to be merged as that touches on code I'll need to be tweaking for this.

[2015-09-14 13:44] hjoliver commented on #1587
@arjclark - before working on this can we consider https://github.com/cylc/cylc/issues/1587#issuecomment-135874677 ?  I'm a bit concerned that we'll just be adding a series of elaborate  workarounds to compensate for problems created by of pre-initial ignoring.  I'd rather deprecate the feature and explain clearly (a) how to do start-up properly with the new graph syntax; and (b) that the problem

[2015-09-14 13:56] arjclark commented on #1587
@hjoliver - part way commenting on that :wink:

Having had a think and a dig through the code I've been wondering if this might be slightly different.

As far as #1544 goes, I disagree and wouldn't want to go down that route until such times as pre-iso8601 cycling is fully removed from cylc.

#1540 is definitely closely related and were we to adopt the "insert held task" approach where the operato

[2015-09-14 14:19] arjclark opened #1603 "cylc dependencies issues"
We now have a number of issues open which relate to our underlying handling of cylc dependencies and how they have had unforeseen consequences:

#1544 - wants to look at removing the need for pre-initial cycling filtering now that the ISO8601 syntax has been implemented. The "ideal" solution would be to have users re-write their suites so this filtering isn't necessary, but there is a worry that t

[2015-09-14 14:23] arjclark commented on #1603
@hjoliver - please clarify any of the above issues that you raised where my summary isn't quite right

[2015-09-14 16:11] benfitzpatrick commented on #1578
I'd like to steal this one if possible (see a80107f). If not, I added a test which we can use.

[2015-09-14 20:37] hjoliver commented on #1578
Go ahead (and apologies for dropping the ball on this one).

[2015-09-14 23:01] #1571 closed

[2015-09-14 23:46] hjoliver commented on #1585
It seems to me, that if a suite does not rely on ignoring pre-initial triggers - #1603 - any combination of restart and warm start will work correctly, except when a manual intervention results in a task whose dependencies can't be met (e.g. one or more tasks was ```cylc remove```d from the suite).  And in a manual intervention users should be vigilant for this sort of problem.   So, if we depreca

[2015-09-14 23:56] hjoliver commented on #1587
@arjclark - note that in #1544 (if you read it to the bottom) I'm only advocating *deprecation* of pre-initial ignore (and perhaps requiring deliberate use of it), and using that as an excuse not to add more complicate workarounds.  We could still use it with old-style syntax for as long as we retain that.

Moving to the new umbrella issue now #1603

[2015-09-15 01:25] hjoliver commented on #1603
A few comments:

This only matters as a source of conflicts (i.e. wait for the merge).  It unifies the old "plain" and "conditional" prerequisite types, but does not change the essence of what "prerequisite" means in cylc (certainly not in any way that affects this issue).

[2015-09-15 01:32] hjoliver opened #1604 "Task prerequisite and output messages don't need to contain the task ID"
There's no longer any need for task prerequisites and output messages to contain the task ID (originally there was I think, pre dependency graph). The graph shows which tasks are depended on, and the suite daemon knows the sender of incoming task messages.

[2015-09-15 01:48] hjoliver commented on #1603
In my analysis the issues above *all* result from our cylc-5 pre-initial handling wiping out dependencies that it should not wipe out.  The only partial exception to this is that un-meetable prerequisites #1585  can also result from other ways of wiping out tasks - namely user error as commented in https://github.com/cylc/cylc/issues/1585#issuecomment-140234708.

[2015-09-15 04:26] hjoliver commented on #1603
To mitigate the work required by users to adapt, we can retain the current level of pre-initial handling as an option (preferably non-default, but not necessarily) but explain that the reason to change is to avoid the aforementioned issues with the old method.  That's my opinion anyway :grimacing:

[2015-09-15 07:57] arjclark commented on #1585
Yeah #1603 would address most of this. The remaining situation would be where a restart or reload introduces a new task and dependencies on it but the operator forgets/doesn't know to insert the new task into the pool - #774 should prevent this though if it's possible. The other case would be where a new dependency on an existing task is added but the task has already cycled out of the pool prior

[2015-09-15 08:02] arjclark commented on #1332
@hjoliver - any thoughts on the above problem?

[2015-09-15 08:58] hjoliver commented on #1332
@arjclark - apologies, it seems this one slipped through the cracks :grimacing:

We should probably handle the loss or gain of precision like for string format templates, i.e. simply don't print the extra digits, or add on the minimal extra components (00 hours on 01 Jan, etc.), e.g.:
[code]
I think this would almost always be what's wanted, and if it's not I'm not sure we could automatically figu

[2015-09-15 09:13] #1468 closed

[2015-09-15 09:40] arjclark commented on #1332
Sounds good.

Any thoughts on how to handle different time zones in this, or at that point do you just want it to bail out? (so Z vs Z suites will be fine but non-Z suites vs Z suites wont)

[2015-09-15 09:43] hjoliver commented on #1332
Hmm, that's a complication.  Can we detect time zone and do the conversion before truncation or extension?

[2015-09-15 09:47] arjclark commented on #1332
My thought was to do something like:
[code]

So potentially the detect and reformat steps could do that if needed. Will give it a go and keep you posted.

[2015-09-15 10:15] benfitzpatrick commented on #1332
cylc cyclepoint (via isodatetime) can detect the format of a cycle point string if it's valid ISO 8601 or cylc legacy. There is code there to do that.

If they couldn't, you wouldn't always be able to get the output in the same format, like this:
[code]
and
[code]

[2015-09-15 10:29] arjclark commented on #1332
So, why doesn't this
[code]
give "11" as the answer?

[2015-09-15 10:32] arjclark commented on #1603
Correct, yes.

[2015-09-15 10:34] benfitzpatrick commented on #1332
The `--time-zone` is really an extension to the `--template`:
[code]
but I'm not sure when that would actually get used!

[2015-09-16 01:30] hjoliver commented on #1590
@m214089 - sorry, just got back to this.  According to my tests and examination of the code, this should not happen immediately on start-up as you've suggested, but I can reproduce the bug if I click on the state filtering icon in the task bar before any suite is connected - is this what you did?

[2015-09-16 01:31] hjoliver commented on #1590
Bug confirmed on current master branch.

[2015-09-16 09:48] #1589 closed

[2015-09-18 09:28] #1590 closed

[2015-09-18 11:41] benfitzpatrick commented on #1577
I'll close this as a duplicate of #1330.

[2015-09-18 11:41] #1577 closed

[2015-09-21 11:31] #1578 closed

[2015-09-21 12:16] matthewrmshin commented on #1600
I think this is because we have the statement `self.outputs.set_all_incomplete()` under `TaskProxy.job_execution_failed` when there is a retry lined up. Is this statement necessary? Can we simply remove the statement?

[2015-09-21 13:31] hjoliver commented on #1600
I guess the logic was that a retrying task has been reset to a pre-run state, during which it should not record any outputs as completed because it has not started running yet (albeit, running again).  I can  imagine a restart of `foo` in `foo:start => bar` in which we want to reset `bar` to waiting so that it triggers again when `foo` runs again. That wouldn't work if we do as you suggest.

[2015-09-21 13:54] matthewrmshin commented on #1600
But surely, this will contradict with any fix to this issue? Should `foo:start` be the 1st time `foo` has achieved the `running` (i.e. `start`) state?

I can also imagined that you can have triggers such as:

[code]

In which case, it is likely that `foo` has generated a file for `output1`, so it should be safe to trigger off `bar` regardless of what comes after `foo:output1` (unless a 2nd `foo:st

[2015-09-22 09:58] #1588 closed

[2015-09-22 12:17] benfitzpatrick opened #1616 "cylc gui: view prequisites and outputs fails"
At current master, the cylc gui `View -> prereq's and outputs` menu item doesn't work.
It pops up a dialog saying:
[code]

[2015-09-22 13:14] matthewrmshin commented on #1616
It works for me. Please provide a better recipe to repeat.

[2015-09-22 14:04] kaday commented on #1616
Fails for me on master, I get a two part error, the first as Ben's and then this one in a new window
[code]

[2015-09-22 14:11] matthewrmshin commented on #1616
Again, please provide a better recipe to repeat.

[2015-09-22 14:43] kaday commented on #1616
Simply run a suite and in the cylc GUI right click on a waiting task and select `View -> prereq's and outputs` then it complains for me. Does that help?

[2015-09-22 14:45] matthewrmshin commented on #1616
Yes, I have tried that, and it works for me.

[2015-09-23 00:05] hjoliver commented on #1616
I can reproduce reliably on master with `examples/task-states/` and task `foo`, but not `cfoo`.

[2015-09-23 00:14] hjoliver commented on #1616
The root cause of this a typo in my recent prerequisite refactor that affects retrieval of prerequisites for viewing, from task with conditional trigger expressions only (hence the above trouble in reproducing the error, I suspect):
[code]

[2015-09-23 08:54] #1546 closed

[2015-09-23 10:15] #1616 closed

[2015-09-23 17:01] #1488 closed

[2015-09-24 10:18] kaday opened #1619 "cylc gcylc: filter option in gcylc.rc"
User request for a `filter on` option in gcylc.rc so that when the gcylc GUI opens it filters the tasks, for example not showing the `succeeded` tasks.

[2015-09-25 14:30] arjclark opened #1620 "gcylc: large memory footprint in graph mode - possible leak?"
When using the graph view in gcylc the memory footprint grows over time to worryingly large values. My suspicion is that we have some sort of memory leak either in our code or the underlying graphviz library.

Following a report from a user about large memory footprints for their gcylc sessions of over a gig each (1.4G and 1.9G) I've been investigating this and reproducing signs of a problem with

[2015-09-28 09:44] arjclark commented on #1620
Example suite to play with:
[code]

Increase the number of tasks to make the problem more prominent.

[2015-10-01 15:23] benfitzpatrick opened #1622 "gcylc.rc: configure which column should be sorted by default"
We could add a configuration option to `gcylc.rc` to allow the user to specify which column
in the text view to sort with by default.

[2015-10-02 14:58] benfitzpatrick opened #1623 "cylc scan: reduce scanned suite log verbosity"
At the moment, for new suites and new cylc scan, a `cylc scan` by anybody on a host will result in a log entry under `INFO` for all new cylc suites on that host:
[code]

This would be a problem when it scales up (e.g. in the extreme, for 200 users all running `cylc gscan`, you would get ~200 logged messages per minute). We should reduce it to DEBUG.

[EDIT: only one message per client uuid... but

[2015-10-02 15:33] benfitzpatrick commented on #1623
7f65dd6 is a possible fix for this, but I haven't run it through the test battery

[2015-10-04 19:51] hjoliver commented on #1623
The fix looks right (although I haven't tested it either).  Perhaps we should log a count of scan connections though, e.g. per minute, just to get an indication of what's going on in case of really heavy scan usage?

[2015-10-05 03:08] hjoliver commented on #1620
With your example suite above, I get a very similar gross memory profile with constant task run length regardless of the value (of run length), e.g. for `script = sleep 10`:

![mprof-sleep10](https://cloud.githubusercontent.com/assets/2362137/10272309/7a4d622c-6b7a-11e5-8d4b-63858ce5c4f4.png)

and `script = sleep 120` is very similar:

![mprof-sleep120](https://cloud.githubusercontent.com/assets/2

[2015-10-05 04:03] hjoliver commented on #1620
On a simpler suite, `graph = foo => FAM:succeed-all => bar` (with FAM having 100 members) the form of the memory curve remains the same but its steepness increases with the increasing task name length (going from 3 chars to 100).

[2015-10-05 04:25] hjoliver commented on #1620
Same result at cylc-5.4.7

[2015-10-05 05:40] hjoliver commented on #1620
I've been doing some internal function profiling too - https://pypi.python.org/pypi/memory_profiler - but have not found the problem as yet...

[2015-10-05 07:43] arjclark commented on #1620
All this would seem to suggest that graph view memory goes up with each graph update, even though (certainly in this non-cycling case) the graph is not actually growing any bigger.

Agreed. I think its definitely related to the updates themselves.

Interesting, that probably explains why the user's suite was so badly affected - lots of very long tasks names.

I've been coming to that conclusion my

[2015-10-05 09:26] #1564 closed

[2015-10-05 11:25] hjoliver commented on #1620
[code]
For my 100-member suite with 100-char task names (above), line 481 here increments 0.6MiB for every graph update.

From further investigation, it seems that text rendering in xdot is the problem: returning immediately from `lib/xdot.py:TextShape.draw()` gets rid of the leak (but the resulting graph nodes are not text-labelled of course).

[2015-10-05 22:25] #1623 closed

[2015-10-06 01:09] hjoliver opened #1625 "complete missing gscan functionality"
See https://github.com/cylc/cylc/pull/1586#issuecomment-136676930

Missing options:
- [ ] --all
- [x] --name
- [ ] --owner

[2015-10-07 11:04] hjoliver commented on #1620
I suspect the problem is due to this extant pygtk bug: https://bugzilla.gnome.org/show_bug.cgi?id=599730

[2015-10-07 11:11] matthewrmshin commented on #1620
I have also come to the same conclusion having done various Google searches.

[2015-10-07 11:18] hjoliver commented on #1620
Not sure what to do about this.  Presumably we could provide a pygtk patch ourselves, but having to build pygtk would be a significant complication for cylc installation!

[2015-10-07 11:26] hjoliver commented on #1620
Fixed in Ubuntu?  https://bugs.launchpad.net/ubuntu/+source/pygtk/+bug/981376

[2015-10-07 11:27] hjoliver commented on #1620
See also https://bugzilla.gnome.org/show_bug.cgi?id=660216

[2015-10-07 15:39] matthewrmshin opened #1626 "cylc validate: family OR logic problem"
A user reports this error while trying to validate a rather complex looking suite.
[code]
The problematic expression looks a bit like this `A[-PT24H]:fail-any | B[-PT12H]:fail-any => c`. Replacing `|` with `&` allows validation to pass, but obvious this does not do what the user want.

The failure comes from [cylc.conditional_simplifier.ConditionalSimplifier.clean_expr](https://github.com/cylc/cyl

[2015-10-07 20:22] hjoliver commented on #1626
Bug active at cylc-6.4.1 - i.e. prior to #1570 (prerequisite refactor) - just checking.

[2015-10-07 21:56] hjoliver commented on #1626
Here's a cut-down version of your example that still exposes the bug:
[code]

[2015-10-08 01:50] MartinDix opened #1628 "Error in code that updates CYLC_DIR for remote host"
In our environment cylc is installed in different locations on the suite host and the supercomputer.

_job_submit_prepare_remote in batch_sys_manager.py fixes the job file by changing the line in the prelude
[code]

6.6.1 had
[code]

In 6.7.0 the strip is gone,
https://github.com/cylc/cylc/blob/master/lib/cylc/batch_sys_manager.py#L760
[code]
and the match fails. With the strip() added back we get

[2015-10-08 02:49] hjoliver commented on #1628
Thanks @MartinDix.

@matthewrmshin - can you take this, and check for other "stripping" issues in the new batch sys manager (there's quite a bit of `cur_line.startswith()`...)?

[2015-10-08 07:40] benfitzpatrick opened #1629 "cylc authentication: default to HMAC-SHA-256, site-configurable hash"
We currently use HMAC-MD5 for authentication. This is OK (and doesn't suffer from the general flaws in MD5), but it is recommended that systems eventually migrate to SHA-256:

https://tools.ietf.org/html/rfc6151

Additionally, some systems disable MD5 by default (e.g. for
[FIPS compliance](http://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.180-4.pdf))

We should change the default hash to SHA-256. Th

[2015-10-08 08:36] matthewrmshin commented on #1620
Given that it is not really a cylc bug, if we can confirm that the bug is fixed on the latest release of GTK and has been rolled out on latest releases of major Linux distros such as RHEL, Ubuntu, (SuSE?), etc then we should close this issue.

[2015-10-08 09:48] hjoliver commented on #1620
Unfortunately that's not going to work.   I took a git clone of pygtk, the last release 2.24.0 was more than four years ago.  It looks like the bug was fixed two years ago, but I'm guessing it will never be released because pygtk is being superseded by pygobject:
[code]

[2015-10-08 10:49] matthewrmshin commented on #1620
That's unfortunate. Perhaps there is a need to move to `pygobject` (or other more modern GUI technology) sooner than we think.

[2015-10-08 11:03] hjoliver commented on #1620
See #112

[2015-10-08 11:10] matthewrmshin commented on #112
(Or move to another modern GUI technology?)

[2015-10-08 11:16] arjclark opened #1631 "cylc gui: prog bar error"
User reported this error on pressing the stop button in their suite:

![adam_crash](https://cloud.githubusercontent.com/assets/2562650/10364786/4a5073c8-6db6-11e5-87fa-1b9054508e5f.png)

[2015-10-09 00:09] hjoliver commented on #112
Any suggestions?  I imagine that upgrading the existing GUI to pygobject and gtk-3 will be relatively easy, but making a completely new GUI that can compete with the current one would be a BIG job - we have invested a lot of effort in it so far.

[2015-10-09 00:10] hjoliver commented on #1631
Wow, your users sure know how to give the graph view a work out! :grimacing:

[2015-10-09 07:51] arjclark commented on #1631
Yeah, that would be the same user who reported the memory leak :wink:

[2015-10-09 08:39] #1631 closed

[2015-10-09 09:48] #1561 closed

[2015-10-09 13:53] matthewrmshin opened #1635 "cylc.network.connection_validator: UnboundLocalError: local variable 'user'"
A user is getting a lot of these in `log/suite/err`:

[code]

Looks like `ConnValidator.acceptIdentification` is using `user` from an import and as a local variable.

[2015-10-09 13:56] benfitzpatrick commented on #1635
It is an artefact of my recent change (a42123b) to that file - it needs the line `user = host = ....` back in.

I corrected it as part of the hash change we're trying to make, but it can be done separately.

[2015-10-09 14:09] matthewrmshin commented on #1635
I am trying to fix it with this change, which makes it easier to see that `USER` and `HOST` are constants and should not be modified locally. Do you want to incorporate this in your hash change?

[code]

[2015-10-09 22:04] hjoliver commented on #112
(discussion of web UI technologies taken offline)

[2015-10-11 20:12] hjoliver opened #1636 "Dynamic family size?"
There are some situations where it would be useful to determine the number of family members just before a family submits, e.g. a suite that spawns forecast jobs to model all of the storm systems currently active in some part of the world.   **This can be done now by running a sub-suite that takes the number of family members as a Jinja2 input variable.**   But it would be nicer to have the family

[2015-10-11 20:14] hjoliver commented on #1636
At first I thought this could be done in current cylc by a pre-family task that determines the number of members, then uses the CLI to: (a) remove the current family at its own cycle point, (b) reconfigure the family size in the suite definition, (c) reload the suite, and finally (d) insert the new family.

However, this doesn't work because task triggers (from which pre-requisites are derived) ar

[2015-10-11 20:23] hjoliver commented on #1636
Ideas:
 * make task triggers into object variables, to allow the above "manual" hack to work.  This would entail some (not huge) cost to suite daemon memory use.
 * maybe a more elegant built-in method is possible, e.g. allow a user to indicate that a family size is variable, so that the suite daemon delays evaluation of the associated triggers (etc... inheritance?) until the size is known - presu

[2015-10-12 02:19] hjoliver opened #1637 "Unhelpful cat-log command error message."
OK:
[code]
Not helpful:
[code]

[2015-10-12 09:05] benfitzpatrick opened #1638 "cylc validate: empty async graph gives icp error"
The following suite.rc:
[code]
gives this error on validation:
`'This suite requires an initial cycle point.'`

It should probably say 'empty graph' or just allow it through to do nothing.

[2015-10-12 10:23] #1628 closed

[2015-10-13 08:05] #1637 closed

[2015-10-13 13:09] arjclark opened #1640 "gcylc: not connecting properly"
User reported error, no recipe for reproducing but seen several times now (admittedly by same user).

On starting up suite the bottom left [connected/stopped] box flashes between its two settings and views aren't populated. This stays the case. Opening a new gui is fine.

[2015-10-14 10:31] #1626 closed

[2015-10-14 10:32] hjoliver commented on #1640
I saw this myself two days ago, but wasn't able to investigate at the time, and now I can't reproduce it :grimacing:.

[2015-10-21 08:18] arjclark commented on #1348
There haven't been any reports of this in some time and we weren't able to create a recipe for reproducing it, so closing as invalid.

[2015-10-21 08:18] #1348 closed

[2015-10-21 10:09] arjclark commented on #310
I guess this is now covered by the suicide triggers description at: http://cylc.github.io/cylc/html/single/cug-html.html#x1-950009.3.4.8 ?

[2015-10-21 23:12] hjoliver opened #1649 "loadleveler job poll broken at 6.7.0"
[code]

Two problems?: 1) polling of loadleveler jobs appears to be broken; 2) a failed remote job-poll command should not bring down the cylc daemon.

[2015-10-21 23:16] hjoliver commented on #1649
The polling tests all pass - so we need to have specific polling tests for each supported batch system.

[2015-10-22 00:28] hjoliver commented on #1649
The first error appears to be caused by a blank line in `llq` output.

[2015-10-22 01:16] hjoliver opened #1650 "cylc graph - don't plot nodes beyond the final cycle point."
[code]
![foo](https://cloud.githubusercontent.com/assets/2362137/10986969/a1f393aa-8493-11e5-9cf0-8cbb0473125e.png)

[2015-10-22 08:18] matthewrmshin commented on #1649
(This is surprising, giving that this functionality was well tested in my toy suites while we still had loadleveler. I'll take a quick look to see what is going on.)

[2015-10-23 08:23] #1638 closed

[2015-10-29 10:52] matthewrmshin opened #1655 "rundb: task_job_logs table: insert for local job may require retries"
On remote jobs, a failure to fetch `job.out` will trigger a retry. When `job.out` is available, it will insert the job logs details to the `task_job_logs` table. There is no delay for the insert for a local job. If we are able to submit a local job to a load balancing system like PBS, which delays writing `job.out`, the job logs details will not be recorded in the `task_job_logs` table correctly.

[2015-10-29 15:36] matthewrmshin opened #1656 "test battery: misbehaving tests on VMs"
Follow on from #1648:

`tests/retries/02-submission-retry.t` test 2 is failing on Ubuntu 15.04.

The following fails on Ubuntu 14.04:

[code]

These 2 are the same tests. One of the tasks fails to record an event for some reason.

[2015-10-29 22:32] hjoliver opened #1657 "Back-compat with old cylc clients broken at 6.7.0"
https://github.com/cylc/cylc/pull/1612 stopped the logging of old-client denials, but unintentionally it also denies cylc-6.5.0 and older clients from connecting when they have the suite passphrase.  (I guess I should have done a more careful review of this change :grimacing:!):

[code]

[2015-10-30 00:58] hjoliver commented on #1656
`tests/authentication/07-back-compat.t` may be fixed by https://github.com/cylc/cylc/pull/1658#issuecomment-152369740 ?

[2015-10-30 09:03] matthewrmshin commented on #1656
Wonderful.

[2015-11-02 00:22] hjoliver opened #1659 "gcylc job file tailing broken on AIX."
(this is something I should have tested properly before recent changes went in, now that NIWA is pretty much alone in using Loadleveler)

[2015-11-02 09:10] matthewrmshin commented on #1659
@hjoliver (Let me know what the problem is, if you need any help. Are you using the default `tail -F` command? Perhaps the syntax is not compatible for the `tail` command on AIX? Is it possible to add a configuration in `global.rc` to use an alternate `tail` command, e.g. a GNU one?)

[2015-11-02 20:11] hjoliver commented on #1659
I've confirmed this is an AIX problem, not Loadleveler.

[2015-11-02 23:36] hjoliver commented on #1659
In `lib/cylc/gui/tailer.py`:
[code]
AIX is :hankey:
 * `tail` has no `--pid` option
 * `ps` has no `h` option to exclude the header line
 * `ps` does not take a command line argument (`$$`) if `-` options are used
 * `ps -o ppid='' -p $$` works on Linux and AIX, but AIX prepends a space to the output!

This works at the command line:
[code]

But it still doesn't work in gcylc...

[2015-11-03 00:11] hjoliver commented on #1659
That was the space in `tr -d ' '` getting lost in `shlex.split()`.  So this works on AIX:
[code]

[2015-11-03 04:12] hjoliver commented on #1659
I'll make this configurable next...

[2015-11-03 04:18] hjoliver opened #1661 "atq on AIX is useless to us"
The joys of AIX :grimacing:.   In addition to https://github.com/cylc/cylc/issues/1659#issuecomment-153193433, `atq` on AIX does not list running jobs, only queued jobs yet to start running are reported. Cylc job poll for `at` jobs on AIX therefore reports job failed even if the job is running.  It's not particularly likely that anyone is submitting jobs to `at` on AIX, but for completeness we sho

[2015-11-03 09:18] matthewrmshin commented on #1659
Should be possible to do:

[code]

(May be easier to put the whole command in a wrapper?)

[code]

[2015-11-03 09:21] hjoliver commented on #1659
Note this is platform specific, not batch-system specific.

[2015-11-03 09:32] matthewrmshin commented on #1659
(Acknowledged that my suggestion above is a quick workaround.)

[2015-11-03 09:37] matthewrmshin commented on #1661
@hjoliver I cannot think of an easy way to fix this right now - if the batch system cannot even be trusted!

(`at` is becoming less relevant on most platforms these days, as most sites expect users to submit stuffs under a proper load balancing system. We have come across sites which deliberately leave `at` broken in some horrible forms to discourage users from using it.)

[2015-11-03 09:48] hjoliver commented on #1661
I agree, this would not be easy to fix, and is probably not worth fixing.  But so long as we support 'at' jobs, maybe we should at least emit a warning that job poll (and maybe kill too) will be disabled for 'at' jobs on AIX if a user tries to do that.

I've always thought of 'at' jobs in cylc as essentially just 'background' jobs with a genuine detaching job submit (we have to sort of fake that f

[2015-11-03 09:49] matthewrmshin commented on #1656
Updated issue description, now that `tests/authentication/07-back-compat.t` is fixed by #1658.

[2015-11-03 10:18] #1657 closed

[2015-11-03 10:48] #1649 closed

[2015-11-04 05:04] hjoliver commented on #1656
These tests are also misbehaving on one of my systems.  The consistently pass if run alone, but regularly fail if run together.

[2015-11-04 05:12] hjoliver commented on #1635
Fixed by #1658.

[2015-11-04 05:12] #1635 closed

[2015-11-04 05:13] hjoliver commented on #1657
Duplicate of #1635.

[2015-11-04 22:37] hjoliver commented on #1659
It also doesn't work, because the tailer config items get substituted with `job_id` not `filename` :grin:

[2015-11-05 09:53] #1659 closed

[2015-11-05 13:43] kaday opened #1664 "cylc graph: suite sat in waiting"
This bug came in at 6.7.0.
Example suite.rc
[code]
At 6.6.1 or earlier the install_c task appears on the T00 cycle and the suite continues.

From 6.7.0 onwards the install_c task does not run.
The task is in the poll but `greyed` out as if it needs inserting before it can run and then the suite continue.
The suite then sits in `waiting` and therefore it does not progress.

[2015-11-05 15:34] matthewrmshin commented on #1664
A quick `git bisect` tells us that #1570 is guilty.

[2015-11-05 23:41] hjoliver commented on #1664
Is the example suite correct?  It's hard to understand what it's supposed to do, because the `-PT12H` offset doesn't seem to make sense.

I assume you mean `install_b`, since there is no `install_c` in the suite?

If so, the reason for this is that `install_b` immediately suicides in the first cycle:
[code]
To the extent that ignoring pre-initial triggers is the right thing to do #1603, this is th

[2015-11-06 08:49] kaday commented on #1664
I agree and I will add a comment in a minute, basically it should never have worked!

[2015-11-06 09:07] kaday commented on #1664
We agree this is definitely a suite design issue.

[2015-11-06 09:07] #1664 closed

[2015-11-10 21:10] hjoliver opened #1668 "gcylc - changing filter settings does not cause an immediate text view update"
On changing filter settings, the filtering of the changed state gets out of sync with the intended setting (easy to see by having the text and dot views open at once). The correct setting takes hold when a view update occurs for other reasons, such as a task changed state.

Caused by by 9e820797226f8bffd11648ad9b8f2286b2e3a674 for cylc-6.7.0 (*Handle use of GUI task filtering before a suite is con

[2015-11-12 04:29] hjoliver commented on #503
Closing - we now have a multiprocessing pool, not command batching in threads.

[2015-11-12 04:29] #503 closed

[2015-11-12 04:30] hjoliver commented on #537
Superseded (and largely addressed) by #1475.

[2015-11-12 04:30] #537 closed

[2015-11-12 04:45] hjoliver opened #1669 "Better feedback on remote job submission problems needed."
The following problems are likely to afflict new users:
 * ~~failed to set up passwordless ssh to remote host~~
 * login scripts echo to stdout even in non-interactive shells (this is common, and arguably should not be considered an error)
 * (~~lack of access to cylc on the remote end~~; or access to the wrong version; other...?)?

all generate the following cryptic error, with no diagnostic info

[2015-11-12 10:40] matthewrmshin commented on #1669
A `git grep` on the error string tells us that the logic is mainly confined in `cylc.job_host`. I cannot see how this can be affected by bullet point 2 and 3, given that the logic is a simple `ssh HOST mkdir ...` and a simple `scp -r ...`. We can, however, include the original exception when raising `RemoteJobHostInitError`.

[2015-11-12 14:30] matthewrmshin commented on #1669
I have tested bullet point 2 in my environment, and the latest logic correctly submits jobs to a remote host with lots of garbage printed by its `~/.profile` to the standard output. I believe that our new job submission sub-system now handles this kind of things correctly - standard output lines that do not have a recognised prefix are simple ignored.

I have also tested bullet point 3, and I have

[2015-11-12 20:54] hjoliver commented on #1669
Confirmed bullet point three is wrong - if cylc is not in PATH at the remote end, then:
[code]
which is fine.

[2015-11-12 21:00] hjoliver commented on #1669
Tested bullet point one, by disabling my passwordless ssh:
[code]
So I guess that's OK too ("Permission denied" is correct).

[2015-11-12 21:06] hjoliver commented on #1669
Bullet point two (which is what motivated this issue).  I have a new user with `tcsh` as a login shell, whose `.tchsrc` login script echoes some text to stdout, resulting in this:
[code]
This same test suite runs fine if I remove `echo HELLO FROM .tcshrc` from the login script.

[2015-11-12 21:16] hjoliver commented on #1669
You're right that `.profile` stdout does not cause a problem, however.

[2015-11-12 22:18] hjoliver commented on #1669
For bash login shells, any output from `.bashrc` causes the same problem.

[2015-11-12 22:36] hjoliver commented on #1669
Turns out this is a "feature" of scp, not a cylc problem, see https://github.com/cylc/cylc/pull/1670#issuecomment-156258749

[2015-11-13 04:52] hjoliver opened #1671 "gcylc - better command output display?"
The old `gcapture` text windows (used to capture output from subprocess commands executed by gcylc) (a) are usually overkill - there's often little or no output; and (b) look really clunky.

@matthewrmshin - do you think it'd be worthwhile replacing with the `rose suite-run` dialog or something similar (I'm not sure how easy it would be to plug in the current rose code )?

[2015-11-13 11:28] matthewrmshin commented on #1671
@hjoliver Did you mean something like the dialog in `rose config-edit` when you press the button to run a suite?

[2015-11-15 20:34] hjoliver commented on #1671
Sorry, yes that's what I meant - the `rose config-edit` dialog for `rose suite-run` output.

[2015-11-15 21:00] hjoliver commented on #1668
(actually, given the identified cause it is surprising not that the text view didn't update immediately, but that the other two views did).

[2015-11-16 09:20] #1668 closed

[2015-11-16 10:51] #1669 closed

[2015-11-16 22:33] hjoliver commented on #1650
The graph does stop where it should if `[visualization]final cycle point

[2015-11-17 08:41] benfitzpatrick commented on #992
It would also be nice if we could `poll job when submission|execution timeout` - this is nearly always what we would expect people to do manually anyway. I'd argue that it should default to True as well.

[2015-11-17 09:02] hjoliver commented on #992
Don't we do this already?

On 17 November 2015 at 08:41, Ben Fitzpatrick <notifications@github.com>
wrote:

[2015-11-17 09:21] matthewrmshin commented on #992
Can now be done by specifying `cylc kill %(suite)s %(task)s %(point)s` as an event handler command.

Can now be done by specifying `cylc stop %(suite)s` as an event handler command.

The question is, do we still want these functions to be more integrated, i.e. with built-in `suite.rc` settings?

[2015-11-17 10:52] benfitzpatrick commented on #992
Yes (now from proper testing) - whoops. I had thought that a poll would always show up in the suite log, but it doesn't (it did at 6.4.1, but not at the current master).

I'm not sure why the poll didn't work for the user who reported it (job disappeared from the scheduler).

[2015-11-25 00:30] hjoliver opened #1675 "Support for in-suite lib/python directory."
Jinja2 filters could need to use local Python modules.

We already support a ```python``` directory for locally defined job submission methods, but this is only added to ```sys.path``` by the scheduler at run time, not during suite parsing.  Jinja2 filters are loaded at parse time so any imports have to be successful at that point.

[2015-11-25 20:44] hjoliver opened #1677 "cylc monitor should use task definition order"
Note #1676

[2015-11-27 15:46] benfitzpatrick opened #1680 "cylc broadcast: strip leading whitespace from option setting"
cylc broadcast can preserve an accidental leading space in an option name - e.g.
for a PBS task `foo` that used to have a job script like this:

[code]

`cylc broadcast -n foo -s "[directives] -l walltime = 02:20:00"`

will lead to:

[code]

[2015-11-30 00:02] hjoliver opened #1682 "Document that "cylc suite-state" doesn't handle custom message outputs."
This is potentially confusing for users.  All triggering really happens off task messages, not task states, but it happens that state and message coincide for all the standard triggers.  `cylc suite-state` however, which is used in inter-suite triggering, actually looks for task state, not message, and there are no states corresponding to custom task messages.

[2015-11-30 02:36] hjoliver opened #1683 "suite report utility"
Suite run-db contain all the info needed for nice summary reports and stats about suite runs, but we don't have a built-in utility to do that yet.

[2015-11-30 02:38] hjoliver commented on #1683
See also #121

[2015-11-30 21:25] hjoliver opened #1685 "Better "cylc monitor" - rewrite for ncurses?"
The `cylc monitor` utility seems to be viewed as quite useful.  It's currently quite unsophisticated, however: it simply prints strings to the terminal, sleeps for a second and calls `os.system("clear")` before re-display, and there is no capacity for interaction with the suite or manipulating the view at run time.  It would be nice to have a more sophisticated monitor - with functionality akin to

[2015-12-01 11:15] hjoliver commented on #1538
A clearer explanation of this in light of recent comms with @arjclark: spawn-on-submit effectively makes every cycling task sequential with respect to job submission (not execution).   Run the following example in gcylc dot view to clearly see (a) sequential job submission of tasks `foo` and `bar`, and (b) when `foo[5]` finishes before previous `foo` instances, `bar[5]` can't trigger immediately -

[2015-12-01 20:53] hjoliver commented on #1683
(from an email to @matthewrmshin:

)

[2015-12-01 21:25] hjoliver commented on #1538
An idea for fixing this:

As discussed above, task proxies should no longer be responsible for spawning their own successors.  The earliest task state that can be triggered off is 'submitted', so we need task proxies to exist in the 'waiting' state at the time upstream depended-on tasks submit, regardless of the state of previous (earlier cycle point) instances of their own type.    So: *whenever

[2015-12-01 21:31] hjoliver commented on #1538
If the above suggestion works out, we could take the opportunity to do this too: https://github.com/cylc/cylc/issues/108#issuecomment-9066707

[2015-12-02 04:54] hjoliver commented on #1538
(@arjclark - note I deleted a new comment that referenced you - had a better idea...)

[2015-12-02 09:24] matthewrmshin commented on #1683
(I guess a lot of these are related to what users want for Rose Bush (or its successor) as well.)

[2015-12-02 10:09] arjclark commented on #1683
This was something I looked into several years back as a possible addition to rose bush so there's a few comments I'd like to throw into the mix.

I'd say *nearly* all the information. It'd be incredibly useful if we had info about the families tasks are members of too. I say this as, for a number of suites, we have large numbers of VER, OPS, ensemble member etc. tasks. It'd be good if we had plot

[2015-12-02 10:28] hjoliver commented on #1683
In that case, note #1524.

[2015-12-03 19:50] hjoliver commented on #1538
I think I've solved this problem, just some detail to iron out...

[2015-12-04 02:38] hjoliver commented on #1538
**What should govern the creation of new task proxies?**

Firstly I'll address https://github.com/cylc/cylc/issues/1538#issuecomment-123259863 above from Ben and Matt:

Do you mean to instantiate all task proxies out to max-active-cycles??   That would work, but it would have serious performance implications for large suites with a lot of runahead, because task proxies can be quite heavyweight obj

[2015-12-04 05:54] hjoliver commented on #1538
A minor consequence of the above proposed solution: previously, task proxies remembered if they had spawned already (in order to avoid doing it again).  Now, because tasks can potentially run out of order with respect to cycle point, the task pool will need to remember what task proxies have already been generated (in order to avoid generating them again).

[2015-12-04 10:19] benfitzpatrick commented on #1538
I still like instantiating out to max active cycles, and (as you suggest) countering the performance aspects by having lighter-weight task proxies.

[2015-12-04 10:37] matthewrmshin commented on #1538
It sounds like we have several considerations here.

1. I agree that the task pool should manage spawning. It is the correct object with a global view of all current task proxies, and the knowledge of how much resource they are using.
2. Perhaps we should address the task proxy memory issue first to give us more flexibility for solving the spawning issue?
3. There are 2 conflicting requirements he

[2015-12-04 21:46] hjoliver commented on #1538
Ben & Matt - I think you are pushing the longer term goals here, whereas I'm proposing a quick fix to the only outright bug identified in the current task generation mechanism.  These two things can be done sequentially of  course.  Let me be more explicit:

 1. I agree that using max-active-cycles as the constraint on task proxy creation would work and it is nice and simple.  **BUT** to avoid mem

[2015-12-04 21:51] hjoliver commented on #1538
Regarding Matt's 3rd point above, "presenting as much of the suite graph as possible to the user" has not been a concern of mine at all.  Retaining a single waiting instance of each task type is just the simplest way (with the out-of-order proviso above!) to ensure that any task proxy will be available when needed, without having vastly more waiting tasks than are needed.

[2015-12-06 21:27] hjoliver commented on #1538
Unfortunately the terminology "spawn on submit" gives the impression that task proxies are managing the generation of new instances themselves, rather than the task pool, which is not really true.  It is simply that - due to memory use and scheduling efficiency concerns - we try to keep only one waiting instance of each task proxy in the pool at all times.  I.e. our task pool limiting mechanism ne

[2015-12-06 22:07] hjoliver opened #1688 "Large suites: more efficient dependency matching."
Companion to #1689.  The speed of dependency matching goes down as the number of task proxies goes up.  Currently indiscriminate: we get all waiting task proxies to ask all non-waiting ones to satisfy their prerequisites (albeit through a middle-man that records everyone's outputs).  Given that the graph specifies exactly who depends on who, we should be able to have a newly completed output immed

[2015-12-06 22:09] hjoliver opened #1689 "Large suites: light weight task proxies."
On of the major limiting factors for very large suites is memory use by task proxies.

To reduce this we can:
  * reduce the size of each task proxy object
  * reduce the total number of task proxies

[2015-12-06 22:51] #1677 closed

[2015-12-06 23:08] hjoliver commented on #1689
**Reduce size of task proxies**

Task proxy size is dominated by `[runtime]` settings: a large number of items, and potentially a large amount of user-defined scripting, environment variables etc. replicated through the inheritance hierarchy.  This information is parsed from the suite definition at start-up and is carried throughout the life of a proxy object, BUT *it is only ever needed at job su

[2015-12-06 23:47] hjoliver commented on #1689
**Load runtime settings only at job submit time?**

IMO this is clearly the right thing to do, given that (a) the minimum size of task runtime - above - information is potentially very large; and (b) it is not needed for any other purpose.

Choices:
 1. During suite parsing, write each task runtime dict to disk.  At job submit time, load it, write the job file, then forget it again.
 2. Hold the m

[2015-12-07 00:24] hjoliver commented on #1538
See #1689

[2015-12-07 02:12] hjoliver commented on #1689
Possible caveat: can the task runtime conf files be generated incrementally at start-up without loading the entire runtime configuration - without defaults - into memory first, for inheritance processing?  If not, is brief high memory use at start-up that much better than ongoing high memory use?  The disk-based solution would still be much simpler (no need to bother with the extra complexity of e

[2015-12-07 03:27] #1655 closed

[2015-12-07 10:18] matthewrmshin commented on #1688
:+1:

[2015-12-07 10:55] hjoliver commented on #1689
(this is in fact rather an old idea: https://github.com/cylc/cylc/issues/108#issuecomment-10498633)

[2015-12-07 10:57] hjoliver commented on #1688
(like #1689, this is also an old idea: https://github.com/cylc/cylc/issues/108#issuecomment-9066707)

[2015-12-07 11:07] matthewrmshin commented on #1689
With your proposed solution 1, are we going to end up with a new small file per task/job? The only concern is that it increases inode usage on the file system, (and some file systems are very unfriendly to lots of small files), but maybe it does not matter.

(On similar note, but unrelated to this issue, perhaps we should move the `job-activity.log` file one level up, as it is shared between jobs

[2015-12-07 11:17] hjoliver commented on #1689
No, it'll just be one new small file for each task class, created at suite start-up.  They'll get re-used for each task instance/job.

[2015-12-07 11:19] matthewrmshin commented on #1689
Sounds like a good compromise.

[2015-12-08 11:24] arjclark opened #1690 "gcylc: polling no longer feeding back to gui"
It has been noted that gcylc is no longer feeding back information about polling to the gui.

Examples include:
Polling a specific task:
 * Previously (6.4.1): this would result in an entry in the message column to the effect of "poll succeeded ..."
 * Now: nothing. Not clear to users that anything has actually happened without going into the logs

Polling whole suite:
 * Previously (6.4.1) the wi

[2015-12-08 11:38] hjoliver commented on #1690
I figured this was a deliberate change by Matt, to stop treating poll results as anything special (??) - but I've been meaning to query this myself.  If you do a manual poll, it is good to get confirmation that it actually happened.

[2015-12-08 11:49] hjoliver commented on #1690
Re "blank seemingly pointless window" - see #1671

[2015-12-08 11:52] matthewrmshin commented on #1690
For individual task poll/kill, we are reporting poll/kill failure, but not success for some reason. I think we can easily put it back in. (I have probably forgotten to put it back!)

For the poll all operation, I think we have lost the *Command Queued* message since the network and authentication re-factor.

[2015-12-08 19:58] #1690 closed

[2015-12-08 20:17] #1680 closed

[2015-12-08 20:47] hjoliver commented on #1689
To get the benefits of reduced task proxy size, we need to avoid the initial memory high water mark caused by parsing the suite in its entirety (which includes all the task proxy runtime info).  Even when this data is garbage collected after writing the new task proxy runtime config files, the memory may not be returned to the OS by the Python interpreter (although it will be re-used internally) -

[2015-12-09 22:43] #1547 closed

[2015-12-10 11:36] #1650 closed

[2015-12-10 15:57] kaday opened #1697 "cylc gcylc: ports file error message incorrect"
This still produces an error message
`ERROR, remote port file not found.`
in the gcylc GUI when the suite stops normally:
https://github.com/cylc/cylc/pull/1395#issuecomment-100752292

[2015-12-10 22:36] hjoliver commented on #1697
This message is emitted when gcylc is connected to a suite running on a remote host.   I hadn't noticed this because locally I almost always run gcylc on the suite host, in which case the equivalent message is a little more friendly:

Local suite:
   ```Port file not found - suite not running?```

Remote suite:
   ```ERROR, remote port file not found.```

For local or remote suites, the message do

[2015-12-11 09:44] arjclark commented on #1697
The only hint we currently have is that the suite logs contain a "shutting down" message - possibly that could be scraped or something but I don't think that's reliable or efficient. A potentially more elegant idea would be to set a flag in the suite daemon that is readable by the communication interface (like the task states) along the lines of "shutting_down_cleanly=True|False". So if a shutdown